<!-- <div class="margin-20">
  <div>myForm details:-</div>
  <pre>Is myForm valid?: <br>{{myForm.valid}}</pre>
  <pre>form value: <br>{{myForm.value | json}}</pre>
</div> -->



<div class="row paddingtop">
  <div class="col-md-6 offset-md-3">
    <div class="avisocard">
      <p class="heading">Add new forum topic</p>
      <form [formGroup]="myForm" (ngSubmit)="createForumpost()">

        <div class="form-group">
          <input type="hidden" name="date" class="form-control" formControlName="date">
          <label for="title">Title: <span class="requiredForm"> * </span> </label>
          <input type="text" name="name" class="form-control" formControlName="name">
          <div *ngIf="myForm.get('name').hasError('required') && myForm.get('name').touched" class="alert alert-danger"> Title is required.</div>
        </div>

        <div class="form-group">
          <label for="title">ID: (ex. Q1) <span class="requiredForm"> * </span> </label>
          <input type="text" name="name" class="form-control" formControlName="lable">
        </div>

        <div class="form-group">
          <label for="title">Question: <span class="requiredForm"> * </span> </label>
          <!-- <input type="text" name="question" class="form-control" formControlName="question"> -->
          <textarea rows="4" cols="50" name="description" id="description" class="form-control" formControlName="question"></textarea>
  
          <div *ngIf="myForm.get('question').hasError('required') && myForm.get('question').touched" class="alert alert-danger"> Question is required.</div>
        </div>

        <button type="submit" class="button button-update">Add new topic</button>
      </form>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->