<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Viewing Reference details | {{replyname}} </h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div [innerHTML]="replyrr"></div>
    <p> Author: <b>{{replyid}}</b></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!-- <p class="uniqueId">Unique Id: {{uniqueId}}</p> -->
<div [innerHTML]="reply" class="reply"> </div>
<div *ngFor="let allforum of returnReferences; let first = first; let last = last;">
  <p *ngIf="first">Reference(s)</p>
  <p (click)="open(content,allforum[0],allforum[2],allforum[1])" class="leftSpan">{{allforum[1] | json}}<span *ngIf="!last">, </span></p>
</div>

<!-- <div *ngIf="authorRef" class="clear-both">
  <p><b>Author Reference(s)</b></p>
  <p>{{authorRef}}</p>
</div> -->