@import '../sass/styles';
p {font-size: 16px; margin: 0px; line-height: 14px;}
.leftSpan {display: inline-block; float: left; color: $greent; cursor: pointer; margin-top: 4px;}
.reply {font-size: 16px; white-space: pre-wrap;}
.uniqueId {background-color: transparent; color: $darkblue; text-align: right; margin-top: 5px;}
