<h3>Forum metrics</h3>
<div class="row">
  <div class="col-12">
    <p>Number of posts: <b class="red">{{totalPosts}}</b></p>
    <p>Total replies on all posts: <b class="red">{{totalRepliesAll}}</b></p>
    <p>Total Initial replies: <b class="red">{{totalReplies}}</b></p>
    <p>All Replies to doctors: <b class="red">{{totalRepliesReplies}}</b></p>
    <p>All Replies with tagged doctors: <b class="red">{{taggedTotaleach}}</b></p>

  </div>
</div>
<div class="row forumRow">
  <h3 class="">Each forum</h3>
</div>
<div class="row">
  <div class="col-6 forums" *ngFor="let forum of eachForum">
    <p>Forum name: <b>{{forum.name}}</b> </p>
    <p>Direct replies to Topic: <b>{{forum.repliesInitial}}</b> </p>
    <p>Total replies to Doctors: <b>{{forum.totalRepliesReplies}}</b> </p>
    <p>Total replies: <b>{{forum.totalReplies}}</b> </p>
    <a [routerLink]="['/forum', forum._id]">Visit Forum</a>
  </div>
</div>