@import '../../sass/styles';
p {line-height: 14px; margin: 4px; font-size: 12px;}
.red {color: red}
a {
    font-size: 12px; background-color: $greent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: $white!important;
    padding: 3px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.forums {padding: $padding-quarter; border-right: 1px solid $lightgrey; border-bottom: 1px solid $lightgrey; border-top: 1px solid $lightgrey;}
.forums:nth-child(2){ border-right: none;}
.forumRow {border-top: 1px solid $lightgrey; margin-top: 5px; width: 100%;}
.forumRow h3 {padding: $padding-quarter}
