<footer>
	<div class="contentContainer">
    <div [ngClass]="{'textCenter': currentUser?.authority !== 'admin'}" class="leftSide">
      <p class="head">Contact</p>
      <!-- <a class="button button-pink" [routerLink]="['/login']" *ngIf="currentUser?.firstName">Log out</a> -->
			<address>
				HealthCare21 Communications<br/>
        Oakfield House, <br />
        Springwood Way,<br/>
        Macclesfield,<br />
        Cheshire, SK10 2XA
      </address>
			<a href="tel:{{globals.tel}}" class="inlineLink">{{globals.tel}}</a>
			<p>{{globals.opening}}</p>
			<a href="mailto:{{globals.adminEmail}}">{{globals.adminEmail}}</a>
		</div>
		<div *ngIf='currentUser?.authority === "admin"' class="rightSide">
			<div >
				<p class="head">Admin links</p>
				<nav>
					<a [routerLink]="['/admin/users']">Edit Event/User Details</a>
					<a [routerLink]="['/admin/add-forum']">Add forum topic</a>
					<a [routerLink]="['/admin/userreport']">View user metrics</a>
					<a [routerLink]="['/admin/postmetrics']">View forum metrics</a>
					<a [routerLink]="['/admin/likes']">View link metrics</a>
				</nav>
			</div>

			<!-- <div *ngIf='currentUser?.authority !== "admin"'>
				<p class="head">Useful links</p>
				<nav>
          
					<a href="{{eventDetail.link}}" target="_blank" *ngFor="let eventDetail of eventDetails?.usefulLinks">{{eventDetail.linkname}}</a>
				</nav>
			</div> -->

		</div>
	</div>
</footer>














<!-- <div class="row" [ngClass]="globals.currentSite">
  <div class="col-md-4">
    <h4>Contact</h4>
    <p><b>HealthCare21 Communications</b><br/> Oakfield House, Springwood Way,<br/>Macclesfield, Cheshire, SK10 2XA<br/>{{globals.tel}} <br/> {{globals.opening}}</p>
    <a href="mailto:{{globals.adminEmail}}">{{globals.adminEmail}}</a>

    <a [routerLink]="['/contact']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }" class="subbuttons">Contact  </a>
  </div>
  <div class="col-md-4">
    <div *ngIf="currentUser?.authority">
      <h4 *ngIf='currentUser?.authority === "admin"'>Admin links</h4>
      <p class="adminbutton" *ngIf='currentUser.authority === "admin"'> <a [routerLink]="['/admin/users']">Edit Event/User Details</a></p>
      <p class="adminbutton" *ngIf='currentUser.authority === "admin"'> <a [routerLink]="['/admin/add-forum']">Add forum topic</a></p>
      <p class="adminbutton" *ngIf='currentUser.authority === "admin"'> <a [routerLink]="['/admin/userreport']">View user metrics</a></p>
      <p class="adminbutton" *ngIf='currentUser.authority === "admin"'> <a [routerLink]="['/admin/postmetrics']">View forum metrics</a></p>
      <p class="adminbutton" *ngIf='currentUser.authority === "admin"'> <a [routerLink]="['/admin/likes']">View link metrics</a></p>


    </div>
    <div *ngIf='currentUser?.authority != "admin"'>
      <img src="../assets/aviso.png" width="50%" class="logoFooter">
    </div>
    </div>
    <div class="col-md-4" *ngIf="currentUser?._id">
      <h4>Useful links</h4>
      <ul>
        <li *ngFor="let eventDetail of eventDetails?.usefulLinks"><a href="{{eventDetail.link}}" target="_blank">{{eventDetail.linkname}}</a></li>
      </ul>
    </div>
  </div>

  <div class="row footersecond">
    <div class="col-md-4 noborder">
      <p class="footerText">Copyright © 2018 HealthCare21 Communications Ltd</p>
    </div>
    <div class="col-md-4 noborder">
      <p class="logout"><a [routerLink]="['/login']" *ngIf="currentUser?._id">Logout</a></p>
    </div>
    <div class="col-md-4 noborder">
      <p class="footerText"><a [routerLink]="['/na/privacy']">Click here to view our privacy policy</a></p>
      <p><a href ="/assets/Zinforo SmPC 201704 Pfizer.pdf" target="_blank">ZINFORO® (ceftaroline fosamil) Summary of Product Characteristics</a>

      </p>

    </div>

  </div>

  <div class="row whiteback">
    <div class="col-md-4 noborder"></div>
    <div class="col-md-4 noborder"></div>
    <div class="col-md-4 noborder">
      <p>PP-ZFO-GLB-0157<br/>
        Date of preparation: September 2018</p>
    </div>
  </div> -->