@import '../sass/_component';

address {
	color: $c--white;
	font-size: 1.2rem;
	line-height: 1.2;
	margin: 0;
}

.inlineLink {
	color: $c--white;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba($c--black, 0.6);
	padding: 2.4rem 0 3.4rem;


	&:before {
		content: '';
		position: absolute;
		top: -0.9rem;
		left: 0;
		height: 1.8rem;
		width: 100%;
		background-color: rgba($c--black, 0.4);
		z-index: 1;
	}

	.contentContainer {
		width: 44rem;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		@media only screen and (max-width: 440px){
			width: 100%;
		}

		.leftSide, .rightSide {
			flex: 1;
			padding: 0 2rem;
		}

		p, a {
			color: $c--white;
			font-size: 1.2rem;
			line-height: 1.2;
		}

		a {
			display: block;
			transition: all 0.35s ease-out;

			&:hover {
				color: $c--moderate-green;
			}
		}

		.head {
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 1;
			margin: 0 0 2.4rem;
		}

		.leftSide {
			text-align: right;
			border-right: 1px solid $c--white;

			&.textCenter {
				border-right: 0;
			}

			a:not(.inlineLink) {
				color: $c--moderate-green;
			}
		}

		.rightSide {
			a {
				margin: 0 0 1.7rem;
			}
		}

		.textCenter {
			text-align: center;
		}
	}
}