<!-- <div class="margin-20">
  <div>myForm details:-</div>
  <pre>Is myForm valid?: <br>{{myForm.valid}}</pre>
  <pre>form value: <br>{{myForm.value | json}}</pre>
</div> -->



<div class="row paddingtop">
    <div class="col-md-6 offset-md-3">
      <div class="jumbotron">
        <h2>Update group</h2>
        <form [formGroup]="myForm" (ngSubmit)="creatGroup()">
  
          <input type="hidden" name="date" class="form-control" formControlName="date">
  
          <label for="title">Title: <span class="requiredForm"> * </span> </label>
          <input type="text" name="title" class="form-control" formControlName="title">
          <button type="button" class="btn btn-secondary" (click)="creatGroup()">Update Group</button>
        </form>
      </div>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->

  