<!-- <div class="margin-20">
  <div>myForm details:-</div>
  <pre>Is myForm valid?: <br>{{form.valid}}</pre>
  <pre>form value: <br>{{form.value | json}}</pre>
</div> -->

<div class="row">
	<div class="col-12">

		<div class="avisoCard">

			<p class="heading">Update user</p>

			<form [formGroup]="form" (ngSubmit)="updateUser()">

				<div class="NoBSflex">
					<div class="form-group inputThird">
						<label for="authority">Authority</label>
						<input type="text" id="authority" placeholder="" formControlName="authority">
					</div>
	
					<div class="form-group inputThird">
						<label for="firstName">First Name</label>
						<input type="text" id="firstName" placeholder="" formControlName="firstName">
					</div>
	
					<div class="form-group inputThird">
						<label for="lastName">Last Name</label>
						<input type="text" id="lastName" placeholder="" formControlName="lastName">
					</div>
				</div>

				<div class="NoBSflex">
					<div class="form-group inputThird">
						<label for="avatar">Avatar</label>
						<!-- <div class="image registerImage" >
							<img *ngIf='avatarImg' [src]="'data:image/jpg;base64,'+avatarImg"  />
							<img *ngIf='!avatarImg' [src]="'../../assets/avatar-grey.svg'" />
						</div> -->
						<input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
						<p class="warning">Please limit photos to 200kb or less and to jpg, jpeg, png and gif formats</p>
						<!-- <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button> -->
					</div>

					<div class="form-group inputTwoThird">
						<label for="biography">Biography</label>
						<textarea rows="6" cols="50" name="description" id="biography" formControlName="biography"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" placeholder="" formControlName="email">
        </div>
        

        <div formGroupName="group" class="cobjectives clearBoth">
            <label for="name">Group: </label>
          <div *ngFor="let resources of form.get('group')['controls']; let j = index" class="linksFloatNew">
              <div [formGroupName]="j" class="floatmain">
              <select class='form-control custom-select' formControlName="title" id="group">
                <option value="">Select</option>
                <option value="All">All</option>
                <option *ngFor="let group of groups" [selected]="group.title == resources.value.title ">
                  {{group.title}}
                </option>
              </select> 
              </div> 
              <a (click)="removeGroup(j)">- Remove group</a>
          </div>
          </div>
          <a (click)="addGroup()">+ Add group</a>

        <!-- <div class="form-group">
          <label for="name">Group: </label>

        <select class='form-control' formControlName="groupArray">    
            <option value="">Select</option>  
            <option *ngFor="let group of groups">{{group.title}}</option>                                                          
         
      </select>
        </div> -->


				<div class="form-group">
					<div class="NoBSflex flexRight">
						<button type="submit"  class="btn btnGreen">Update</button>
					</div>
        </div>
        


			</form>

		</div>

	</div>
</div>

<!-- <div class="row paddingtop">
  <div class="col-md-6 offset-md-3">
    <div class="jumbotron">
      <h2>Update User</h2>


      <form [formGroup]="form" (ngSubmit)="updateUser()">
        <div class="form-group">
          <label for="name">Authority</label>
          <input type="text" class="form-control" id="authority" placeholder="" formControlName="authority">
        </div>


        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control" id="name" placeholder="" formControlName="firstName">
        </div>
        <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" class="form-control" id="name" placeholder="" formControlName="lastName">
        </div>
        <div class="form-group">
          <label for="name">email</label>
          <input type="text" class="form-control" id="name" placeholder="" formControlName="email">
        </div>
        <div class="form-group">
          <label for="name">Biography: </label> -->
          <!-- <input type="text" class="form-control" id="name" placeholder="" formControlName="biography"> -->
          <!-- <textarea rows="6" cols="50" name="description" id="description" class="form-control" formControlName="biography"></textarea>

        </div>

        <div formGroupName="group" class="cobjectives clearBoth">
            <label for="name">Group: </label>
          <div *ngFor="let resources of form.get('group')['controls']; let j = index" class="linksFloatNew">
              <div [formGroupName]="j" class="floatmain">
              <select class='form-control custom-select' formControlName="title" id="group">
                <option value="">Select</option>
                <option value="All">All</option>
                <option *ngFor="let group of groups" [selected]="group.title == resources.value.title ">
                  {{group.title}}
                </option>
              </select> 
              </div> 
              <a (click)="removeGroup(j)">- Remove group</a>
          </div>
          </div>
          <a (click)="addGroup()">+ Add group</a> -->

        <!-- <div class="form-group">
          <label for="name">Group: </label>

        <select class='form-control' formControlName="groupArray">    
            <option value="">Select</option>  
            <option *ngFor="let group of groups">{{group.title}}</option>                                                          
         
      </select> -->

   
        <!-- <div class="form-group">
   <label for="name">password</label>
   <input type="password" class="form-control" id="name" placeholder="" formControlName="password">
 </div> -->
        <!-- <div class="form-group">
          <label for="name">User name</label>
          <input type="text" class="form-control" id="name" placeholder="" formControlName="username">
        </div>
        <div class="form-group">
          <input type="hidden" class="form-control" name="eventid" formControlName="eventid" />
        </div>
        <div class="form-group">
          <input type="hidden" class="form-control" name="eventid" formControlName="authority" />
        </div>
        <div class="form-group">
          <label for="avatar">Avatar</label>
          <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput> -->
          <!-- <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button> -->
        <!-- </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw"></i></button>
      </form>
    </div>
  </div> -->