@import '../../sass/_component';

.warning { font-size: 12px; color: red;}

.heading {
	color: $c--dark-grey;
}


input {
    padding: 0.2rem 0!important;
}
label {
    margin: 0 0 0 0.2rem!important;
}

input[type="file"]{
	font-size: 1.2rem !important;
}

.registerImage {
    width: 100px;
    height: 100px;
	margin: 0 auto 1rem;
}