<!-- <div class="margin-20">
  <div>myForm details:-</div>
  <pre>Is myForm valid?: <br>{{myForm.valid}}</pre>
  <pre>form value: <br>{{myForm.value | json}}</pre>
</div> -->

<form [formGroup]="myForm" (ngSubmit)="updateEvent()">
	<div class="row">
		<div class="col-md-6 col-12">

			<!-- Edit forum -->
			<div class="avisoCard">
				<div class="blockHeading">
					<h5>Edit forum</h5>
					<input type="text" name="id" class="form-control" formControlName="_id" readonly>
				</div>
				<div class="formContainer">

					<div class="form-group">
						<label for="title">Name<sup class="requiredForm">*</sup> </label>
						<input type="text" name="name" formControlName="name">
					</div>

					<div class="form-group">
						<label for="title">Initial Question</label>
						<textarea rows="4" cols="50" name="question" id="question" formControlName="question"></textarea>
					</div>

					<div class="form-group">
						<label for="title">Username</label>
						<input type="text" name="username" formControlName="username">
					</div>

					<div class="form-group">
						<div class="flex">
							<input id="closeForum" type="checkbox" formControlName="closeForum">
							<label for="closeForum">Close forum</label>
						</div>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btnGreen">Update</button>
					</div>

				</div>
			</div>

		</div>
		<div class="col-md-6 col-12">

			<!-- Replies -->
			<div class="avisoCard">

				<div class="blockHeading">
					<h5>Replies</h5>
				</div>

				<div formGroupName="replies">
					<ul class="replyListing" *ngFor="let item of allReplies; let i = index">
						<li [formGroupName]="i" class="floatmain">

							<p class="replyNo">{{i+1}}</p>

							<div class="formContainer">
		
								<div class="form-group">
									<label for="reply">Reply</label>
									<textarea rows="4" cols="50" name="reply" id="reply" formControlName="reply"></textarea>
								</div>
	
								<div class="form-group">
									<label for="username">By</label>
									<input type="text" name="username" id="username" formControlName="username">
								</div>
	
								<div class="form-group">
									<label for="date">Date</label>
									<input type="text" name="date" id="date" formControlName="date">
								</div>
	
								<div class="form-group">
									<p class="hideme btn btnRed" (click)="remove(i)">Remove</p>
								</div>

							</div>
			
						</li>
					</ul>
				</div>

			</div>

		</div>

	</div>
</form>


<div class="row ">
  <div class="col-md-12">
    <form [formGroup]="myForm" (ngSubmit)="updateEvent()" class="">
      <!-- <div class="fifty">
        <h3>Edit forum</h3> -->
        <!-- <input type="hidden" name="name" class="form-control" formControlName="id2"> -->
        <!-- <label for="title">Value: </label>
		<input type="text" name="id" class="form-control" formControlName="_id" readonly>
		
		<input type="hidden" name="eventid" class="form-control" formControlName="eventid" readonly>
		
        <label for="title">Name <span class="requiredForm"> * </span> </label>
        <input type="text" name="name" class="form-control" formControlName="name">
        <label for="title">Initial Question: </label> -->
        <!-- <input type="text" name="question" class="form-control" formControlName="question"><br/> -->
        <!-- <textarea rows="4" cols="50" name="question" id="question" class="form-control" formControlName="question"></textarea>
        <label for="title">Username: </label>
        <input type="text" name="username" class="form-control" formControlName="username"><br/>


        <div formGroupName="groups" class="cobjectives clearBoth">
          <label for="name">Group: </label>
        <div *ngFor="let resources of myForm.get('groups')['controls']; let j = index" class="linksFloatNew">
            <div [formGroupName]="j" class="floatmain"> -->
              <!-- {{resources.value | json}} -->
            <!-- <select class='form-control custom-select' formControlName="title" id="groups">
              <option value="">Select</option>
              <option value="All">All</option>
              <option *ngFor="let group of groups" [selected]="group.title == resources.value.title ">
                {{group.title}}
              </option>
            </select> 
            </div> 
            <a (click)="removeGroup(j)">- Remove group</a>
        </div>
        </div>
        <a (click)="addGroup()">+ Add group</a><br/><br/>


        <label for="title">Close Forum: </label>
        <input id="closeForum" type="checkbox" formControlName="closeForum"><br/><br/>

      

        <button type="submit">Update Details</button>
      </div> -->
      <!-- <div class="fifty">
        <h3>Replies</h3>
        <div formGroupName="replies" class="cobjectives">
          <div *ngFor="let item of allReplies; let i = index">
            <div [formGroupName]="i" class="floatmain">
				<p class="hideme" *ngIf="i != showId" (click)="hideme(i)">Show details <i class="fa fa-arrow-circle-down"></i></p>
				<p class="hideme" *ngIf="i == showId" (click)="hideme(100000000000)">Hide details <i class="fa fa-arrow-circle-down"></i></p>

				<label for="title">Reply: </label>
				<textarea rows="4" cols="50" name="reply" id="reply" class="form-control" formControlName="reply"></textarea>
				<div class="intitialHide" *ngIf="i == showId"> -->
					<!-- <label for="title">Reply: </label>
					<textarea rows="4" cols="50" name="reply" id="reply" class="form-control" formControlName="reply"></textarea> -->
					<!-- <label for="title">Username: </label>
					<input type="text" name="username" id="username" class="form-control" formControlName="username">
					<label for="title">Date: </label>
					<input type="text" name="date" id="date" class="form-control" formControlName="date">
				</div>

              <p class="hideme" (click)="remove(i)">Remove reply <i class="fa fa-minus-circle"></i></p>
            </div>
            <div [formGroupName]="i" *ngIf="i == showId">
              <div formGroupName="replies" class="cobjectives">
                <div *ngFor="let replyreply of item.controls.replies.controls; let j = index">
                  <div [formGroupName]="j">
                    <label for="title">Title: </label>
                    <input type="text" name="title" id="title" class="form-control" formControlName="name">
                    <label for="title">Reply: </label>
                    <textarea rows="4" cols="50" name="reply" id="reply" class="form-control" formControlName="reply"></textarea>
                  </div>
                  <p class="hideme" (click)="removerereply(i,j)">Remove reply <i class="fa fa-minus-circle"></i></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div> -->


    </form>
  <!-- </div>
</div> -->

<!-- <app-footer></app-footer> -->