@import '../../sass/styles';

.requiredForm {
    color: $c--vivid-red;
}

.blockHeading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h5 {
        font-size: 2.8rem;
        color: $c--dark-grey;
        margin: 0 0 2.4rem;
    }

    input {
        line-height: 1;
        color: rgba($c--mid-grey, 0.6);
        background-color: transparent;
        border: 0;
        text-align: right;
        width: auto;
        padding: 0;
        user-select: none;
        font-size: 1.2rem !important;
    }
}


label {
	color: $c--mid-grey;
    font-size: 1.4rem;
    margin: 0;
    line-height: 1;
}

.form-group {
    margin: 0 0 3rem;
    
    .flex {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        label {
            margin: 0;
            padding: 0 0 0 1.4rem;
        }

        input {
            width: auto;
        }
    }
}

.formContainer {
    .form-group:last-of-type {
        margin: 0;
    }
}
input[type="checkbox"] {
    -webkit-appearance: checkbox;
    appearance: checkbox;
}

// Bloody bootstrap overwriting my rules!
input, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 1.2rem 0;
	font-size: 1.8rem !important;
	line-height: 1;
	color: $c--mid-grey;
	font-family: $f--body !important;
	font-weight: 300;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid $c--light-grey;
	width: 100%;
}
textarea {
	resize: none;
}


// Replies
.replyListing {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0 0 2.4rem;
    }

    .formContainer {
        border: 1px solid rgba($c--dark-grey, 0.2);
        padding: 1.4rem;
    }
}

.replyNo {
    text-align: right;
    font-family: $f--heading;
    color: $c--mid-grey;
    font-size: 2.4rem;
    line-height: 1;
    display: block;
    padding: 0.6rem 1rem;
    background-color: rgba($c--mid-grey, 0.4);
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    margin: 0;
}