<div class="row">
	<div class="col-md-6 col-12">
		<div class="avisoCard blockUsers">
			
			<!-- Users -->
			<h3 class="blockHeading" *ngIf='currentUser.authority === "admin"'>Users</h3>
			<h3 class="blockHeading" *ngIf='currentUser.authority != "admin"'>You don't have admin rights to edit this content, please logout and log
			in with another user details</h3>
			<ul *ngIf='currentUser.authority === "admin"' class="simpleList flexList userListing">
				<li *ngFor="let user of users">
					<p class="userName">{{user.firstName}} {{user.lastName}}</p>
					<!-- <p class="card-text">{{user.biography}}</p> -->
					<div class="userActions">
						<a [routerLink]="['/admin/users-edit', user.email]" class="btn btnBlue">Update</a>
						<a (click)="deleteUser(user._id)" class="btn btnRed ghost">Delete</a>
					</div>
				</li>
			</ul>
		</div>

	</div>
	<div class="col-md-6 col-12">

		<!-- Current events -->
		<div class="avisoCard blockEvents">
			<h3 class="blockHeading" *ngIf='currentUser.authority === "admin"'>Current Events</h3>
			<ul *ngIf='currentUser.authority === "admin"' class="simpleList flexList eventListing">
				<li *ngFor="let event of events">
					<p class="eventName">{{event.data.name}}</p>
					<a [routerLink]="['/admin/event-edit', event.id]" class="btn btnBlue">Edit</a>
				</li>
			</ul>
		</div>

		<!-- Current topics -->
		<div class="avisoCard blockTopics">
			<h3 class="blockHeading" *ngIf='currentUser.authority === "admin"'>Current Forum topics:</h3>
			<ul *ngIf='currentUser.authority === "admin"' class="simpleList topicListing">
				<li *ngFor="let forum of forums">
					<p class="topicName">{{forum.data.name}}</p>
					<!-- - <a href="/admin/forum/{{forum._id}}">Edit forum</a> - <a href="/admin/forum-moderation/{{forum._id}}">Moderate forum replies</a> -->
					<div class="topicActions">
						<a class="btn btnBlue" [routerLink]="['/admin/forum', forum.id]" [routerLinkActive]="['is-active']">Edit</a>
						<a class="btn btnGreen" [routerLink]="['/admin/forum-moderation', forum.id]">Moderate replies</a>
					</div>
					<!-- - <a [routerLink]="['/admin/forum', forum.id]" [routerLinkActive]="['is-active']">Edit forum</a> - <a
					[routerLink]="['/admin/forum-moderation', forum.id]">Moderate forum replies</a> -->
				</li>
			</ul>
		</div>

	</div>
</div>




<!-- <div class="row">
  <div class="col-md-12">
    <br/> -->
    <!-- <h3 *ngIf='currentUser.authority === "admin"'>All registered users:</h3>
    <h3 *ngIf='currentUser.authority != "admin"'>You don't have admin rights to edit this content, please logout and log
      in with another user details</h3>
    <ul class="container row list-unstyled" *ngIf='currentUser.authority === "admin"'>
      <li class="p-2 col-md-4" *ngFor="let user of users">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{user.username}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">({{user.firstName}} {{user.lastName}})</h6>
            <p class="card-text">{{user.biography}}.</p>
            <a (click)="deleteUser(user._id)" class="btn btn-sm card-link btn-danger text-light">Delete</a>
            <a [routerLink]="['/admin/users-edit', user.email]" class="btn-sm btn btn-outline-primary">Update</a>
          </div>
        </div>
      </li>
    </ul> -->
    <!-- <h3 *ngIf='currentUser.authority === "admin"'>Groups</h3>
    <a class="btn btn-primary mb-2" [routerLink]="['/admin/group-add']" [routerLinkActive]="['is-active']">Add Group</a>

    <div class="card mb-3">
      <ul *ngIf='currentUser.authority === "admin"' class="list-group list-group-flush">
        <li *ngFor="let group of groups" class="list-group-item">
          {{group.payload.doc.data().title}} - <a [routerLink]="['/admin/group-edit', group.payload.doc.id]">Edit event</a>
        </li>
      </ul>
    </div> -->

    <!-- <h3 *ngIf='currentUser.authority === "admin"'>Current Events:</h3>
    <div class="card mb-3">
		<ul *ngIf='currentUser.authority === "admin"' class="list-group list-group-flush">
		<li *ngFor="let event of events" class="list-group-item">
			{{event.data.name}} - <a [routerLink]="['/admin/event-edit', event.id]">Edit event</a>
		</li>
		</ul>
    </div> -->

    <!-- <h3 *ngIf='currentUser.authority === "admin"'>Current Forum topics:</h3>
    <div class="card mb-3">
		<ul *ngIf='currentUser.authority === "admin"' class="list-group list-group-flush">
		<li *ngFor="let forum of forums" class="list-group-item">
			{{forum.data.name}}
			- <a href="/admin/forum/{{forum._id}}">Edit forum</a> - <a href="/admin/forum-moderation/{{forum._id}}">Moderate forum replies</a>
			- <a [routerLink]="['/admin/forum', forum.id]" [routerLinkActive]="['is-active']">Edit forum</a> - <a
			[routerLink]="['/admin/forum-moderation', forum.id]">Moderate forum replies</a>
		</li>
		</ul>
    </div> -->
  <!-- </div>
</div> -->
