@import '../../sass/_component';

.simpleList {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &.flexList {
        li {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    li {
        padding: 1rem 1.2rem;
        margin: 0 0 1.2rem;
        background-color: rgba($c--mid-grey, 0.1);
        border-radius: 0.6rem;

        &:last-of-type {
            margin: 0;
        }
    }
}

.blockHeading {
    margin: 0 0 2.4rem;
    color: $c--dark-grey;
}

// Users
.userName {
    font-size: 1.8rem;
    color: $c--dark-grey;
}
.userActions {
    .btn {
        display: block;
        margin: 0 0 0.8rem;

        &:last-of-type {
            margin: 0;
        }
    }
}

// Events
.eventName {
    font-size: 1.8rem;
    color: $c--dark-grey;
}


// Topics
.topicName {
    font-size: 1.8rem;
    color: $c--dark-grey;
}
.topicActions {
    text-align: right;
    
    .btn {
        margin: 0 0 0 0.8rem;
    }
}