  <!-- Modal window -->
  <ng-template #modalreply let-c="close" let-d="dismiss">
	  <div class="modalReplyWrapper">

		<div class="modal-header">
			<h5 _ngcontent-c2="" class="modal-title">Add Reply</h5>
			
		
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		
		</div>
		<div _ngcontent-c2="" class="showForm">

			<p class="warningModeration" *ngIf="globals.moderation === 'on'">Moderating is on, your reply will be sent for moderation</p>

			<form (ngSubmit)="updateForm(f)" #f="ngForm" class="">
				<input class="noborder" id="userid" name="userid" type="hidden" [ngModel]="currentUser._id">
				<input class="form-control" type="hidden" name="username"  [ngModel]="currentUser.firstName+ ' ' + currentUser.lastName">

				<div class="tagWrapper">

				<div *ngIf="keyupVal == '@' || keyupVal == '2' " class="popupselect">

					<div class="tagHeader">
							<div class="flex">
								<h5>Tag</h5>
								<a class="close" (click)="setkeyupVal()"><span aria-hidden="true">&times;</span></a>
							</div>
					</div>

					<div *ngFor='let user of users | filterByuser: keyUpValueMaintian'>
						<a *ngIf="user.title"
								(click)="addNametoReply(user.title +' '+user.firstName+' '+user.lastName, user._id, reply)">{{user.firstName}}
							{{user.lastName}}</a>
						<a *ngIf="!user.title" (click)="addNametoReply(user.firstName+' '+user.lastName, user._id, reply)">{{user.firstName}}
							{{user.lastName}}</a>
					</div>
				</div>
				<textarea [(ngModel)]="replyInput" rows="4" cols="50" name="name" id="name" #reply
				(keyup)="getName(reply, $event, reply, reply)" (click)="setPosition(reply)"
				[readonly]="isReadOnly"></textarea>
			</div>
					
				<button type="submit" class="btn btnAdd">Add</button>
			</form>
		</div>

	</div>
  </ng-template>

	<div class="cardCTA">
		<span class="button" (click)="openEdit(modalreply)">POST A RESPONSE <img _ngcontent-c2="" src="../assets/arrow-encircled@2x.png"></span>
	</div>
  <!-- Modal window end-->