@import '../../sass/_component';

.cardCTA {

	.button {
		margin-right: -0.4rem;
		border: 0;
		@include linearGradient($c--bright-blue, $c--moderate-green);
		color: $c--white;
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: 600;
		font-family: $f--heading;
		padding: 0.6rem 5rem 1rem 1.6rem;
		cursor: pointer;
		@include b--sc {
			font-size: 4vw;
		}
	}

	img {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translate3d(0, -50%, 0);
		height: 1.4rem;
		width: 1.4rem;

		@include b--sc {
			height: 60%;
			width: auto;
		}
	}
}

textarea + button {
	margin: 1.4rem 0 0;
}

.tagHeader {
	h5 {
		font-size: 2.4rem;
		line-height: 1;
		margin: 0 0 2rem;
		color: $c--mid-grey;
		font-family: $f--heading;
	}
}

.flex {
	display: flex;
	justify-content: space-between;
}

.tagWrapper {
	height: 20rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1.4rem;
	position: relative;
	overflow: hidden;
	margin: 0 0 1.4rem;

	textarea {
		padding: 0;
		border: 0;
		height: 100%;
	}

	.popupselect {
		position: absolute;
		top: 1px;
		left: 1px;
		padding: 1.4rem;
		height: 100%;
		width: 100%;
		overflow: auto;
		background-color: $c--white;
	}
}

.warningModeration {
	margin: 2.4rem 0 -1rem;
	font-size: 1.4rem;
	text-align: center;
	padding: 0.6rem 1rem;
	background-color: $c--caution-yellow-bg;
	color: $c--caution-yellow;
	user-select: none;
}