@import '../sass/_component';

.progressbar { 
	height:15px; 
	background-color: aquamarine; 
	min-width: 1%; 
	margin-top: 20px; 
	width: 1%;
}

.heading {
	font-size: 2.6rem;
	text-align: center;
	color: $c--light-grey;
	display: block;
	width: 100%;
}

label {
	color: $c--mid-grey;
	font-size: 1.4rem;
    margin: 0 0 0.8rem;
    display: block;
}

select {
    margin: 0 0 2rem;
}


form {
    padding: 2rem 0 0;
}

.form-group {
	margin: 0 0 2rem;
}

.button {
	font-size: 1.6rem;
	border-radius: 4px;
}

input {
	width: 100%;
	font-size: 1.4rem;
}
select {
	font-size: 1.4rem;
}

progress {
	margin-top: 1.2rem;
	width: 100%;
}