<!-- <div class="margin-20">
  <div>myForm details:-</div>
  <pre>Is myForm valid?: <br>{{myForm.valid}}</pre>
  <pre>form value: <br>{{myForm.value | json}}</pre>
</div> -->
<form [formGroup]="myForm" class="" (ngSubmit)="addFile()">

	<div class="form-group">
		<label for="title">File Title:</label>
		<input id="title" class="form-control" type="text" name="id" formControlName="title" aria-describedby="inputGroup-sizing-default">
		<input id="downloadUrl" class="form-control" type="hidden" name="downloadUrl" formControlName="downloadUrl" value="{{downloadURL}}" [(ngModel)]="downloadURL"   aria-describedby="inputGroup-sizing-default">
	</div>
		<div class="form-group">
		<label for="link">File Link:</label>
		<input id="link" class="form-control" type="text" name="link" formControlName="link" aria-describedby="inputGroup-sizing-default">
	</div>
	<div class="form-group">
		<label for="chooseFile">Choose File:</label>
		<input id="chooseFile" type="file" (change)="upload($event)" accept=".png,.jpg,.docx,.ppt,.pptx, .pdf" />
		<progress max="100" [value]="(uploadProgress | async)"></progress>
	</div>

  <div class="form-group">
    <label for="group">Group</label>
    <div formGroupName="groupArray" class="cobjectives clearBoth">
    <div *ngFor="let resources of myForm.get('groupArray')['controls']; let j = index" class="linksFloatNew">
        <div [formGroupName]="j" class="floatmain">
        <select class='form-control custom-select' formControlName="groupItem" id="group">
          <option value="">Select</option>
          <option *ngFor="let group of groups" [selected]="group.title == resources.value.title ">
            {{group.title}}
          </option>
        </select> 
        </div>
    </div>
    </div>

    <button (click)="addGroup()" class="btn btnBlue">Add group</button>
  </div>
  <button type="submit" [disabled]="myForm.invalid" class="btn btnAdd">Share</button>
      
</form>



<div *ngIf="show">

  <div class="input-group mb-3 mt-5">
    <div class="input-group-prepend">
      <button class="input-group-text btn-primary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload</button>
    </div>
    <div class="custom-file">
      <input type="file" id="fileInput" ng2FileSelect [uploader]="uploader"/>
      <label class="custom-file-label" for="fileInput">Choose file</label>
    </div>
  </div>

  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="percentagecomplete"  aria-valuemin="0" aria-valuemax="100"></div>
  </div>


  <div *ngIf="alert">
  <div class="alert alert-success mt-4" role="alert">
    <h4 class="alert-heading">Upload Successful</h4>
    <p>Your file has been uploaded and should be available in the <a href="/na/webex" class="alert-link">Resources</a> page</p>
  </div>
  </div>

</div>
<div>
  <!-- <a href="http://localhost:4000/api/download/photo-1547129335519..jpg">Test Link - Image </a> -->
</div>