<!-- <div class="margin-20">
  <div>myForm details:-</div>
  <pre>Is myForm valid?: <br>{{myForm.valid}}</pre>
  <pre>form value: <br>{{myForm.value | json}}</pre>
</div> -->

<form [formGroup]="myForm" (ngSubmit)="updateEvent()">
    <input type="hidden" name="id" formControlName="_id">

	<div class="row">
		<div class="col-md-8 col-sm-8 col-12">

			<!-- Core details -->
			<div class="avisoCard">
				<div class="cardHeading">
					<p class="heading">Details</p>
				</div>

				<div class="formContainer">

					<div class="form-group">
						<label for="name">Name<sup class="required">*</sup></label>
						<input type="text" id="name" name="name" formControlName="name">
					</div>
	
					<div class="NoBSflex">
					
						<div class="form-group inputHalf">
							<label for="location">Location<span class="required">*</span></label>
							<input type="text" id="location" name="location" formControlName="location">
						</div>
		
						<div class="form-group inputHalf">
							<label for="webex">Webex Video (YouTube link)<span class="required">*</span></label>
							<input type="text"id="webex" name="webex" formControlName="webex">
						</div>
	
					</div>
	
					<div class="NoBSflex">
	
						<div class="form-group inputHalf">
							<label for="description">Welcome text<span class="required">*</span></label>
							<textarea rows="4" cols="50" name="description" id="description" formControlName="eventtext"></textarea>
						</div>
		
						<div class="form-group inputHalf">
							<label for="loginText">Login page text<span class="required">*</span></label>
							<textarea rows="4" cols="50" name="description" id="loginText" formControlName="loginText"></textarea>
						</div>
	
					</div>
	
					<div class="form-group">
						<label for="enddate">Event end</label>
						<input type="text" name="enddate" formControlName="enddate">
					</div>
	
					<div class="form-group">
						<div class="NoBSflex flexLeft">
							<input id="checkBox" type="checkbox" formControlName="inmoderation">
							<label for="inmoderation">In moderation</label>
						</div>
					</div>

				</div>

			</div>


			<!-- Resource / Links list -->
			<div class="avisoCard resourceList">
				<div class="resourceSection">
					<div class="cardHeading">
						<p class="heading">Resources</p>
						<div class="headingCTA" (click)="addResource()">
							<a class="btn btnGreen">Add resource</a>
						</div>
					</div>

					<div formGroupName="resources">
						<div *ngFor="let resources of myForm.get('resources')['controls']; let j = index" class="resourceItem">
							<div [formGroupName]="j">
								<div class="formContainer">

									<div class="form-group">
										<label for="resourceName">Name</label>
										<input type="text" name="resourceName" id="resourceName" formControlName="resourceName">
									</div>
									<div class="form-group">
										<label for="resourceLink">Link address</label>
										<input type="text" name="resourceLink" id="resourceLink" formControlName="resourceLink">
									</div>

									<a (click)="removeResourceLink(j)" class="btn btnRed removeResource">Remove</a>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


			<!-- Link list -->
			<div class="avisoCard resourceList">
				<div class="cardHeading">
					<p class="heading">Links</p>
					<div class="headingCTA" (click)="addLink()">
						<a class="btn btnGreen">Add link</a>
					</div>
				</div>

				<div formGroupName="usefulLinks">
					<div *ngFor="let usefulLink of myForm.get('usefulLinks')['controls']; let i = index" class="resourceItem">
						<div [formGroupName]="i">
							<div class="formContainer">

								<div class="form-group">
									<label for="linkname">Name</label>
									<input type="text" name="linkname" id="linkname" formControlName="linkname">
								</div>

								<div class="form-group">
									<label for="link">Address</label>
									<input type="text" name="link" id="link" formControlName="link">
								</div>

								<a (click)="removeLink(i)" class="btn btnRed">Remove</a>

							</div>
						</div>
					</div>
				</div>
			
			</div>

			<!-- Word list -->
			<div id="wordList" class="avisoCard wordList">
				<div class="cardHeading">
					<p class="heading">Word list</p>
					<div (click)="addWord()" class="headingCTA">
						<a class="btn btnGreen">Add word</a>
					</div>
				</div>

				<div formGroupName="wordlist" class="NoBSflex">
					<div *ngFor="let words of myForm.get('wordlist')['controls']; let k = index; let first = first" class="inputHalf">
						<div [formGroupName]="k" class="form-group">
							<input type="text" name="resourceName" id="title" formControlName="wordlistName">
							<a (click)="removeResourceword(k)">&times;</a>
						</div>
					</div>
				</div>
				
			</div>


		</div>
		<div class="col-md-4 col-sm-4 col-12">

			<!-- Update CTA -->
			<div class="avisoCard eventBG">
				<nav>
					<a href=""></a>
				</nav>
				<button type="submit" class="btn btnGreen updateEvent">Update event</button>
			</div>
		
		</div>
	</div>

</form>


<!-- <div class="col-md-12">
  <h2>Update Event</h2>

  <form [formGroup]="myForm" (ngSubmit)="updateEvent()">
    <div class="row"> -->
      <!-- <div class="col-md-8">
        <input type="hidden" name="id" class="form-control" formControlName="_id">
        <label for="title">Name <span class="requiredForm"> * </span> </label>
        <input type="text" name="name" class="form-control" formControlName="name">
        <label for="title">Location <span class="requiredForm"> * </span> </label>
        <input type="text" name="location" class="form-control" formControlName="location">
        <label for="title">Webex Video (youtube link) <span class="requiredForm"> * </span> </label>
        <input type="text" name="webex" class="form-control" formControlName="webex">
        <label for="title">Welcome text <span class="requiredForm"> * </span> </label>
        <textarea rows="4" cols="50" name="description" id="description" class="form-control" formControlName="eventtext"></textarea>
        <label for="title">Login page text <span class="requiredForm"> * </span> </label>
        <textarea rows="4" cols="50" name="description" id="description" class="form-control" formControlName="loginText"></textarea>
        <label for="title">Event end  </label>
        <input type="text" name="webex" class="form-control" formControlName="enddate">
        <label for="title">In moderation </label>
        <input id="checkBox" type="checkbox" formControlName="inmoderation">
      </div> -->
      <!-- <div class="col-md-4">
        <div formGroupName="wordlist" class="cobjectives clearBoth">
          <div *ngFor="let words of myForm.get('wordlist')['controls']; let k = index; let first = first" class="">
            <h4 *ngIf="first">Wordlist</h4>
            <div [formGroupName]="k" class="">
              <input type="text" name="resourceName" id="title" class="form-control" formControlName="wordlistName">
              <a (click)="removeResourceword(k)">Remove word</a>
            </div>
          </div>
        </div>
        <div class="AddNewline clearBoth" (click)="addWord()"><a class="btn btn-secondary mtop"><i class="fa fa-plus" aria-hidden="true"></i> Add word to wordlist</a></div>
      </div> -->

      <!-- <div formGroupName="resources" class="clearBoth col-md-12">
        <div *ngFor="let resources of myForm.get('resources')['controls']; let j = index" class="linksFloatNew">
          <div [formGroupName]="j" class="floatmain">
            <label for="title">Resource name</label>
            <input type="text" name="resourceName" id="title" class="form-control" formControlName="resourceName">
            <label for="title">Resource link  address</label>
            <input type="text" name="resourceLink" id="title" class="form-control" formControlName="resourceLink">
            <a (click)="removeResourceLink(j)">Remove link</a>
          </div>
        </div>
        <div class="AddNewline clearBoth" (click)="addResource()"><a class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i> Add resource</a></div>
      </div> -->

      <!-- <div formGroupName="usefulLinks" class="cobjectives clearBoth col-md-12">
        <div *ngFor="let usefulLink of myForm.get('usefulLinks')['controls']; let i = index" class="linksFloat">
          <div [formGroupName]="i" class="floatmain">
            <label for="title">Link name</label>
            <input type="text" name="name" id="title" class="form-control" formControlName="linkname">
            <label for="title">Link address</label>
            <input type="text" name="name" id="title" class="form-control" formControlName="link">
            <a (click)="removeLink(i)">Remove link</a>
          </div>
        </div>
      </div>

      <div class="AddNewline clearBoth" (click)="addLink()"><a class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i> Add useful link</a></div> -->
      <!-- <div class="AddNewline clearBoth upevent">
        <button type="submit" class="btn btn-secondary updateEvent">Update event</button>
      </div> -->
    <!-- </div>
  </form>
  <div class="clearBoth"></div>
</div> -->