@import '../../sass/_component';


// Update button
.updateEvent {
    width: 100%;
}

.eventBG {
    padding: 2rem 3.2rem;
    position: sticky;
    top: 5rem;
}

.cardHeading {
    margin: 0 0 2.4rem;
}

.heading {
    color: $c--dark-grey;
    text-align: left;
    margin: 0;
    line-height: 1;
}

input {
    padding: 0.2rem 0!important;
}
input[type="checkbox"] {
    -webkit-appearance: checkbox;
    appearance: checkbox;
}

.btn.btnBlue, .btn.btnRed, .btn.btnGreen {
    color: $c--white;

    &:hover {
        color: $c--white;
    }
}


// Resource list
.resourceItem {
    padding: 1.4rem 0 2.8rem;
    position: relative;
    margin: 0 0 1.4rem;
    
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 1px;
        background-color: rgba($c--mid-grey, 0.2);
    }

    &:last-of-type {
        margin: 0;

        &:after {
            content: none;
        }
    }
}


// Word list
.wordList, .resourceList {
    align-items: center;

    .heading {
        flex: 1;
    }
    .headingCTA {
        flex: 1;
        text-align: right;
    }

    .form-group {
        position: relative;

        input {
            padding-right: 6rem;
        }

        a {
            position: absolute;
            bottom: 0;
            right: 0;
            color: rgba($c--mid-grey, 0.6);

            &:hover {
                color: $c--vivid-red;
            }
        }
    }
}