@import '../sass/_component';

.paddingtop {
    padding-top: 30px;
    background-color: $lightgrey;
    background: url('/assets/lungBack.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contentContainer {
	padding: 4rem 0;

	.heading {
		text-align: left;
	}
	p {
		color: $c--white;
	}
}

.sanofi2,
.phizer {
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background: none;
}

.sanofi1 {
    color: $darkblue;
}

.sanofi2,
.phizer {
    color: $darkblue;
}


form {
	border-bottom: 1px solid $c--light-grey;
	margin: 0;
	padding: 0 0 4rem;

	label, input {
		width: 100%;
		display: block;
	}
}

.formFold {
	padding: 2rem 0 0;
	position: relative;

	small {
		position: absolute;
		top: -2rem;
		left: 50%;
		background-color: $c--white;
		padding: 0.8rem 1.8rem;
		transform: translateX(-50%);
		color: $c--light-grey;
		font-size: 1.4rem;
	}

	a:hover {
		color: $c--pfizer-blue;
		text-decoration: none;
	}
}

.form-group {
	margin: 0 0 2rem;

	&:last-of-type {
		margin: 0;
	}
}

.button {
	font-size: 1.6rem;
	border-radius: 4px;
}

.loginLinks {
	display: flex;
	padding: 6rem 0 0;
	
	a {
		margin: 0 1.4rem 0 0;
		color: $c--light-grey;
		font-size: 1.2rem;
		transition: all 0.35s ease-out;

		&:hover {
			text-decoration: none;
			color: $c--pfizer-blue;
		}
	}
}