
<div class="row">
	<div class="col-lg-12">
		<h1>Contact</h1>
	</div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="avisoCard">
      <div class="row">
        <div class="col-md-6">
          <h3>Please contact: </h3><br/>
          <p><b>{{globals.adminFirstname}} {{globals.adminSurname}}</b></p>
          <p> Tel: {{globals.tel}} </p>
          <p>Email admin: <a href="mailto:{{ globals.adminEmail }}">{{globals.adminEmail}}</a></p>
          <p>{{globals.opening}}</p>
        </div>
        <div class="col-md-6">
          <h3>Address </h3><br/>
          <p><b>{{globals.contactBusname}}</b></p>
          <p> {{globals.address}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="row">
  <div class="col-md-12 py-3" style="background-color: #eff1f3">
    <h1>Please contact us with any questions.</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']">Home <span class="alwaysblack"></span></a>
        </li>
        <li class="breadcrumb-item active">
          Contact
        </li>
      </ol>
    </nav>
  </div>
</div> -->


<!-- <div class="row superPadding"> -->
  <!-- <div class="col-md-12">
    <h2>Please contact us with any questions.</h2><br/>
  </div> -->
  <!-- <div class="col-md-6">
    <h3>Please contact: </h3><br/>
    <p><b>{{globals.adminFirstname}} {{globals.adminSurname}}</b></p>
    <p> Tel: {{globals.tel}} </p>
    <p>Email admin: <a href="mailto:{{ globals.adminEmail }}">{{globals.adminEmail}}</a></p>
    <p>{{globals.opening}}</p>
  </div>
  <div class="col-md-6">
    <h3>Address </h3><br/>
    <p><b>{{globals.contactBusname}}</b></p>
    <p> {{globals.address}}</p>
  </div>
</div> -->

<!-- <app-footer></app-footer> -->
