<!-- <div class="margin-20">
<div>myForm details:-</div>
<pre>Is myForm valid?: <br>{{myForm.valid}}</pre>
<pre>form value: <br>{{myForm.value | json}}</pre>
</div> -->
<!-- <div class="row">
  <div class="col-md-12 py-3">
    <h1>Forum</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']">Home <span class="alwaysblack"></span></a>
        </li>
        <li class="breadcrumb-item active">
          Discussion
        </li>
      </ol>
    </nav>
  </div>
</div> -->

<div class="row">
	<div class="col-lg-12">
		<h1>Discussion</h1>
	</div>
</div>



<app-idle></app-idle>
<div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="col-lg-9">

        <a *ngIf='currentUser.authority === "admin"' [routerLink]="['/admin/add-forum']" [routerLinkActive]="['is-active']" class="button ghost">Create new thread <i class="fa fa-plus"></i></a>
		
        <!-- <p *ngIf="sortorder != 'default'" (click)="toggleforumorder()" class="sort">Sort forum posts by earliest <i class="fa fa-arrow-down"></i></p>
		  
        <p *ngIf="sortorder == 'default'" (click)="toggleforumorder()" class="sort">Sort forum posts by latest <i class="fa fa-arrow-up"></i></p> -->
		  
        <!-- <div class="row" *ngFor="let forum of forums | orderPipe: sortorder; let i = index"> -->
    <div class="row" *ngFor="let forum of forums; let i = index"> <!-- Ignoring sortorder-->
			<div class="col-md-12">
				<div class="avisocard">
					<div class="cardHeading">
						<div class="cardInfo">
							<a [routerLink]="['/forum', forum._id]"><h2>{{forum.name}}</h2></a>
							<div class="cardPostInf">
								<p>Posted by: <span>{{forum.username}}</span> <span class="dateTime" [innerHTML]="forum.date | dateFormat" ></span></p>
							</div>
						</div>
						<div class="cardResponse">
							<span>{{forum.repliesNum}}</span>
						</div>
					</div>
					<div class="cardContent">
						<p>{{forum?.question}}</p>
					</div>
					<div class="cardCTA">
						<a [routerLink]="['/forum', forum._id]" class="button">Join the conversation<img src="../assets/arrow-encircled@2x.png" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>

        
	  
      <div class="col-lg-3 appSidebar">
        <app-sidebar></app-sidebar>
	  </div>
	  
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
