@import '../sass/_component';


h1 {
	text-transform: uppercase;
	color: $c--white;
}


.button.ghost {
	width: 100%;
	text-align: left;
	position: relative;
	margin-bottom: 3rem;
	transition: all 0.35s ease-out;

	i {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translate3d(0, -50%, 0);
	}

	&:hover {
		background-color: $c--white;
		color: $c--black;
		border-color: $c--white;
	}
}

.avisocard {
	padding: 2rem 3.2rem 9rem;
}


.mobileBreak {
	@include b--sc {
		display: block;
	}
}

.cardPostInf {
	border-top: 1px solid rgba($c--light-grey, 85);
	padding: 0.8rem 0 1rem 0;
	width: auto;
	display: inline-block;

	@include b--sm {
		width: 100%;
	}

	p, span {
		font-size: 1.2rem;
		line-height: 1;
		color: $c--mid-grey;
		margin: 0;
	}
}

.cardResponse {
	background: no-repeat url('../../assets/speech-bubble-gradient@2x.png') top right / contain;
	flex: 0 0 6.6rem;

	@include b--sm {
		flex: 0 0 4.6rem;
		display: none;
	}
}

.avisoCard {
	padding: 2rem 2rem 9rem;
}


.dateTime {
	color: $c--moderate-green;
}