@import '../sass/styles';

.greybackground {background-color: $backgrey; padding: $padding-quarter;}
.greybackgroundinner {background-color: $lightgrey; padding: $padding-quarter;}
.greybackground a, .greybackgroundinner a {display: inline-block; color: $lightblack; margin: 0px; padding: 0px; font-size: 12px;}
.greybackground p, .greybackgroundinner p {margin: 0px; padding: 0px; font-size: 12px; display: inline-block;}

.sidebarav {width: 100px; float: left;}
.sidebarav img {width: 100%; margin: $padding-quarter;}
.paddingtop {padding-top: $padding-quarter;}

pre {font-family: sans-serif;  padding: $padding-half-px; background-color: $lightestgrey; margin: 0px; font-size: 12px; line-height: 15px; max-width: 100%; white-space: pre-wrap;}
