<div class="row">
  <div class="col-md-12 greybackground">
    <h1>User details: {{users?.firstName}} {{users?.lastName}}</h1>
    <a [routerLink]="['/']" [routerLinkActive]="['is-active']" class="breadcrumb">Home  <span class="alwaysblack"> > </span></a>
    <p class="breadcrumb"> User Details > {{users?.firstName}} {{users?.lastName}}</p>
  </div>
</div>

<div class="row paddingtop">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">

        <div *ngIf="users?.avatar" class="sidebarav">
          <img [src]="'data:image/jpg;base64,'+users.avatar.value" *ngIf='basesixfour != "null"' class="sidebaravatar" />
        </div>
        <div *ngIf="!users?.avatar" class="sidebarav">
          <img src="../assets/no_profile_female.jpg" class="sidebaravatar" />
        </div>

        <pre>  {{users.biography}} </pre>

      </div>
      <div class="col-md-4">
        <!-- <app-sidebar></app-sidebar> -->
      </div>
    </div>
  </div>
</div>