<!-- main app container -->
<app-navigation>Loading...</app-navigation>

<div class="page-wrap">
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <alert></alert>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
</div>