@import '../sass/_component';

h3 {
	color: $c--white;
	margin: 0 0 2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.sidebarAvatar {
	position: relative;
	height: 5.0rem;
	width: 5.1rem;

	.image .sidebarav{
		width: 100%;
		
		img {
			width: 100%;
		}
	}
}


a {
	display: flex;
	align-items: center;
	margin: 0 0 1.6rem;

	&:hover {
		p {
			opacity: 0.75;
		}
	}
}

.forumResources, .topContributors {
	p {
		color: $c--white;
		transition: opacity 0.35s ease-out;
		margin: 0 0 0 0.6rem;
	}
}

// .showMore {
// 	cursor: pointer;
// 	text-align: center;
// 	text-transform: uppercase;
	
// 	p {
// 		font-size: 1rem;
// 	}

// 	&:hover {
// 		.uiEl {
// 			img {
// 				margin-bottom: -0.8rem;
// 			}

// 			.before:before {
// 				left: -100%;
// 			}
// 			.after:before {
// 				left: 0;
// 			}
// 		}
// 	}
	
// 	.uiEl {
// 		position: relative;

// 		img, .before, .after {
// 			flex: 1;
// 		}

// 		img {
// 			width: 1.8rem;
// 			height: auto;
// 			max-height: 2rem;
// 			flex: 0 0 auto;
// 			margin: 0 0.5rem -0.4rem;
// 			transition: all 0.35s ease-out;
// 		}

// 		.before, .after {
// 			position: relative;
// 			height: 0.2rem;
// 			width: calc(50% - 2rem);
// 			display: inline-block;
// 			overflow: hidden;

// 			&:before {
// 				content: '';
// 				height: 100%;
// 				width: 200%;
// 				@include linearGradient(rgba(#FFFFF1, 0), rgba($c--white, 1));
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				display: block;
// 				transition: left 0.35s ease-out;
// 			}
// 		}
// 		.after {
// 			right: 0;

// 			&:before {
// 				left: -100%;
// 				@include linearGradient(rgba($c--white, 1), rgba(#FFFFF1, 0));
// 			}
// 		}
// 	}
// }


// New: Show less/more UI
.showMore, .showLess {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3.6rem 0 0;
	transition: opacity 0.35s ease-out;

	&:hover {
		opacity: 0.7;
	}

	.before, .after {
		display: block;
		height: 2px;
		position: relative;
		overflow: hidden;
	}

	.before {
		&:before {
			content: '';
			height: 100%;
			width: 200%;
			position: absolute;
			top: 0;
			left: 0;
			@include linearGradient(rgba(#FFFFF1, 0), rgba($c--white, 1));
			display: block;
			transition: left 0.35s ease-out;
		}
	}
	.after {
		&:after {
			content: '';
			height: 100%;
			width: 200%;
			position: absolute;
			top: 0;
			right: 0;
			@include linearGradient( rgba($c--white, 1), rgba(#FFFFF1, 0));
			display: block;
			transition: right 0.35s ease-out;
		}
	}

	p {
		padding: 0 0.8rem;
		letter-spacing: 0.1rem;
		font-size: 1.6rem;
		margin: 0;
		line-height: 0.8;
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: baseline;
		user-select: none;
	}

	img {
		height: 0.8rem;
		display: inline-block;
		margin: 0 0 0 0.6rem;
	}

	.rotate {
		transform: rotate(180deg);
	}
}

.showMore.lessandmore {
	margin: 0;
}
.showLess.lessandmore {
	position: relative;
	padding: 0 0 1.2rem;
	margin: 3.6rem 0 1.2rem;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;
		@include linearGradient( rgba($c--white, 0), rgba(#FFFFF1, 1), rgba(#FFFFF2, 0));
	}
}



.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: visible;
	opacity: 1;
	z-index: 10;

	&:target {
		visibility: visible;
		opacity: 1;
	}

}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 40%;
	position: relative;
	transition: all 5s ease-in-out;

	h2 {
		margin-top: 0;
		color: #333;
		font-family: Tahoma, Arial, sans-serif;
	}

	.close {
		position: absolute;
		top: 2rem;
		right: 3rem;
		font-size: 1.2rem;

		float: none;
		font-weight: 300;
		line-height: 1;
		text-shadow: none;
		opacity: 1;
	}

	.content {
		max-height: 30%;
		overflow: auto;
	}
}



.topContributors {
	padding-bottom: 3rem;
}

.sidebarimg {
	img {
		max-width: 6rem;
	}
}

.sidebartext {
	flex: 1;
	padding-left: 0.8rem;

	a, span, p {
		font-size: 1.4rem;
		color: $c--white;
		margin: 0;
	}

	a {
		text-transform: uppercase;
		line-height: 1;

		span {
			line-height: inherit;
			font-weight: 600;
		}
	}

	p {
		color: rgba($c--white, 0.7);
		line-height: 1.1;
	}
}

.row {
	display: flex;
	margin: 0;
	padding: 0 0 2rem;
	width: 100%;
}



.forumResources {
	padding-bottom: 1.5rem;

	@include b--sm {
		padding-top: 6rem;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		margin: 0;

		&:last-of-type {
			margin: 0;
			font-size: 12px;
		}
	}

	a {
		background-color: $c--white;
		border-radius: 12px;
		padding: .8rem 2.8rem .8rem .8rem;
		margin: 0 0 0.8rem;
		display: block;
		color: $c--dark-grey;
		font-size: 1.4rem;
		line-height: 1;
		transition: all 0.35s ease-out;
		border: 0;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 1.6rem;
			height: 2.1rem;
			width: 2rem;
			transform: translateY(-50%);
			background: no-repeat url('assets/download-arrow@2x.png') center / contain;
		}

		&:hover {
			opacity: 0.75;
		}

		&.isLink:after {
			background: no-repeat url('assets/resource--link.png') center / contain;
		}
	}


	.addResource {
		background-color: transparent;
		border: 1px solid $c--white;
		font-weight: 600;
		color: $c--white;

		&:after {
			background: no-repeat url('assets/add--encircled@2x.png') center / contain;
		}
	}

}