<!-- <div *ngIf="showUpload" id="popup1" class="overlay">
		<div class="popup">
				<p class="btn btn-primary"  (click)="toggleshowUpload()" >Close window</p>
			<app-uploadres ></app-uploadres>
		</div>
</div>

	<div *ngIf="id">
		<p><b>Forum resources: </b></p>
		<div class="list-group uploads mb-2">
			<ng-container *ngFor="let upload of uploads; let i=index; let last = last">
				<ng-container *ngIf="upload.forumId === id">
					<a class="list-group-item list-group-item-action"
						 href="{{upload.downloadUrl}}" target="_blank"> {{upload.title }} <i
						class="fa fa-download"></i></a>
				</ng-container>
			</ng-container>
		</div>

		<p class="btn btn-primary" (click)="toggleshowUpload()" >Add a resource <i class="fa fa-upload"></i></p>
	</div> -->
	<div *ngIf="showUpload" id="popup1" class="overlay">
		<div class="modal-content">
			<div class="modalResourceWrapper">
				<div class="modal-header">
					<h5 class="modal-title">Share resource</h5>
					<button type="button" class="close" aria-label="Close" (click)="toggleshowUpload()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<app-uploadres></app-uploadres>
			</div>
		</div>
	</div>
	
<!-- START: Resources -->

<div class="forumResources">
	<h3>Forum resources:</h3>
	<ul>
		<ng-container *ngFor="let upload of uploads; let i=index; let last = last">
			<ng-container *ngIf="upload.forumId === id">
				<li>
					<a *ngIf="upload.downloadUrl" href="{{upload.downloadUrl}}" target="_blank">{{upload.title}}</a>
					<a *ngIf="!upload.downloadUrl" href="{{upload.link}}" class="isLink" target="_blank">{{upload.title}}</a>
				</li>
			</ng-container>
		</ng-container>
		<li>
			<a class="addResource" (click)="toggleshowUpload()" target="_blank">Share a resource</a>
		</li>
	</ul>
</div>
	
<!-- END: Resources -->


<!-- START: Contributors -->
<div class="topContributors"  *ngIf="hideSidebar != 'hideall'" >
	<h3>Top contributors:</h3>
	<div class="Users" *ngFor="let user of users; let i=index; let last = last; trackBy: trackByFn">
		<!-- <div *ngIf="user.authority != 'admin'"> -->
		<div *ngIf="i<numberUsers">
		<!-- <a class="vcenter" [routerLink]="['/userdetails', user.payload.doc.data().email]"> -->
			<a class="vcenter" (click)="showModal(user.payload.doc.data().email, content)">
				<div class="sidebarAvatar">
					<div class="image">
						<div *ngIf="user.payload.doc.data().avatar" class="sidebarav">
							<img [src]="'data:image/jpg;base64,'+user.payload.doc.data().avatar.value" *ngIf='basesixfour != "null"' /> 
						</div>
						<div *ngIf="!user.payload.doc.data().avatar" class="sidebarav">
							<img src="../assets/avatar-default.svg" />
						</div>
					</div>
					<div class="userStatus">
						<span *ngIf="user.payload.doc.data().loggedin" class="loggedIn"></span>
						<span *ngIf="!user.payload.doc.data().loggedin" class="loggedOut"></span>
					</div>
				</div>
				<div class="sidebaravtext">
					<p>{{user.payload.doc.data().firstName}} {{user.payload.doc.data().lastName}}</p>
				</div>
			</a>
	</div>
	<div>
			
	<!-- </div> -->
	<div *ngIf="showless && last">
		<div class="showLess" [ngClass]="{'lessandmore': totalUsers > numberUsers && last}" (click)="showlessFunc(last)">
				<span class="before"></span>
				<p>Show less<img src="../assets/arrow-down.svg" alt="up arrow" class="rotate" /></p>
				<span class="after"></span>
			</div>
		</div>
	</div>
		<div *ngIf="totalUsers > numberUsers && last">
			<div class="showMore" [ngClass]="{'lessandmore': showless && last}" (click)="showmore()">
				<span class="before"></span>
				<p>Show more<img src="../assets/arrow-down.svg" alt="down arrow" /></p>
				<span class="after"></span>
			</div>
		</div>
	</div>

</div>
<!-- END: Contributors -->

<!-- START: Latest Activity -->
<div *ngIf="!hideSidebar" class="latestActivity" >
	<h3>Latest activity:</h3>
	<div class="repliesdiv">
		<div class="Users " *ngFor="let Reply of allReplies | dateSort; let j=index; let last = last">
			<div *ngIf="j<4" class="row">
				<div class="sidebarimg">
					<img src="../assets/speech-bubble@2x.png" alt="Latest" />
				</div>
				<div class="sidebartext">
					<a [routerLink]="['/forum', Reply.forumId]">
					<span>{{Reply.forumTitle | striphtml}}</span> 
					</a>
					<!-- <p>{{Reply.reply | striphtml}}</p> -->
					<p>
						<strong>{{Reply.username}}</strong> 		
						<span [innerHtml]="Reply.reply | limittext:50"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Latest Activity -->



 <!-- Modal window -->
 <ng-template #content let-c="close" let-d="dismiss">
	<div class="modalBioWrapper">
		<div class="modal-header">
			<h5 class="modal-title">User details</h5>
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="flexRow">
			<div class="sidebarAvatar">
				<div *ngIf="current.avatar" class="sidebarav">
					<img [src]="'data:image/jpg;base64,'+current.avatar.value" *ngIf='basesixfour != "null"' /> 
				</div>
				<div *ngIf="!current.avatar" class="sidebarav">
					<img src="../assets/avatar-grey.svg" />
				</div>
				<div class="userStatus">
					<span *ngIf="current.loggedin" class="loggedIn"></span>
					<span *ngIf="!current.loggedin" class="loggedOut"></span>
				</div>
			</div>
			<p>{{current.firstName}} {{current.lastName}}</p>	
		</div>
		<p class="bio"><span>Biography</span>{{current.biography}}</p>	
	   
</div>