<!-- <div class="margin-20">
  <div>myForm details:-</div>
  <pre>Is myForm valid?: <br>{{form.valid}}</pre>
  <pre>form value: <br>{{form.value | json}}</pre>
</div> -->

<div class="row paddingtop" [ngClass]=" globals.currentSite ">
  <div class="col-md-12">
    <div class="avisocard">
      <p class="heading">Update your details</p>
      <form [formGroup]="form" (ngSubmit)="updateUser('q', 'password', email)">

        <div class="NoBSflex">

            <div class="form-group inputThird">
              <label for="name">Title</label>
              <input type="text" placeholder="" formControlName="title" id="title">
            </div>
            <div class="form-group inputThird">
              <label for="name">First name</label>
              <input type="text" id="firstName" placeholder="" formControlName="firstName">
              <div class="warning" *ngIf="!form.controls['firstName'].valid">First name is required</div>
            </div>
            <div class="form-group inputThird">
              <label for="name">Last name</label>
              <input type="text" id="lastName" placeholder="" formControlName="lastName">
              <div class="warning" *ngIf="!form.controls['lastName'].valid">Last name is required</div>
            </div>
        </div>

        <div class="form-group">
          	<input type="hidden" name="eventid" formControlName="eventid" />
        </div>
        <div class="form-group">
          	<input type="hidden" name="eventid" formControlName="authority" />
        </div>
		
        <div class="NoBSflex">
          <div class="form-group inputThird">
            <label for="avatar">Avatar</label>
              <div class="image registerImage">
                <div class="clearAvatar"  (click)="clearFile()"><span>&times;</span></div>
                <img *ngIf='avatarImg' [src]="'data:image/jpg;base64,'+avatarImg"  />
                <img *ngIf='!avatarImg' [src]="'../../assets/avatar-grey.svg'" />
              </div>
            <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
            <p class="warning">Please limit photos to 200kb or less and to jpg, jpeg, png and gif formats</p>
          </div>

          <div class="form-group inputTwoThird">
            <label for="name">Biography:</label>
            <textarea rows="6" cols="50" name="description" id="description" formControlName="biography"></textarea>
          </div>
	    	</div>

		<hr />

        <div class="NoBSflex">
            <div class="form-group inputThird">
				<label for="name">Email</label>
				<input type="text" id="email" placeholder="" formControlName="email" #email>
				<div class="warning" *ngIf="!form.controls['email'].valid">email address is required</div>
			</div>

		</div>
		
  
  
		<div class="form-group">
			<div class="NoBSflex flexEven">
				<div class="NoBSflex flexRight">
          <button type="submit" class="button button-login">Submit</button>
				</div>
			</div>
    </div>

      </form>
      <!-- <p class="warning optout">* Opting out of emails only stops you receiving an email for every reply, you will still receive emails when a new topic is created and when another user tags you in a post.</p>
    -->
    </div>

  </div>
</div>
<!-- <app-footer></app-footer> -->