@import '../sass/styles';

.paddingtop {padding-top: 30px;}
h2 {font-size: 24px; }
label, .form-control, input, .btn, .required {font-size: 12px; margin-bottom: 0px;}
.warning { font-size: 12px; color: red;}
.optout {margin-top: 10px;}
.progress {height: 200px!important;}
.sanofi2, .phizer {  background-position:center!important; background-repeat: no-repeat!important; background-size: cover!important; }

p { font-size: 12px; margin: 0px;}
.redp {color: red;}
.white { color: white;}


hr {
	border-top: 1px dashed $c--light-grey;
	margin: 0 0 4rem;
}

form {
    padding: 2rem 0 0;
}

.heading {
	font-size: 2.6rem;
	text-align: center;
	color: $c--dark-grey;
	display: block;
	width: 100%;
}


.button {
	font-size: 1.6rem;
	border-radius: 4px;
}

label {
	color: $c--mid-grey;
	font-size: 1.4rem;
	margin: 0;
	line-height: 1;
}

.form-group {
	margin: 0 0 2rem;
}



input {
    padding: 0.2rem 0!important;
}
label {
    margin: 0 0 0 0.2rem!important;
}

// Bloody bootstrap overwriting my rules!
input, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 1.2rem 0;
	font-size: 1.8rem !important;
	line-height: 1;
	color: $c--mid-grey;
	font-family: $f--body !important;
	font-weight: 300;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid $c--light-grey;
	width: 100%;
}
textarea {
	resize: none;
}
input[type="file"]{
	font-size: 1.2rem !important;
}



.registerImage {
    width: 100px;
    height: 100px;
	margin: 0 auto 1rem;
	position: relative;

	.clearAvatar {
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		border-radius: 50%;
		height: 100%;
		width: 100%;
		background-color: rgba($c--dark-grey, 0.2);
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		opacity: 0;
		transition: all 0.35s ease-out;

		&:hover {
			opacity: 1;
		}

		span {
			color: $c--white;
			font-size: 6.2rem;
			font-weight: 100;
		}
	}
}