<div *ngFor = "let message of messages; let first = first" class="userMessage">
  <p *ngIf = "first"><b>You have been mentioned in these forum posts</b></p>
    <a [routerLink]="['/forum', message._id]">{{message.name}} - Date added {{message.dater}} <i class="fa fa-arrow-circle-right"></i></a>
</div>
