<!-- <div class="margin-20">
<div>myForm details:-</div>
<pre>Is myForm valid?: <br>{{myForm.valid}}</pre>
<pre>form value: <br>{{myForm.value | json}}</pre>
</div> -->

<div class=" col-md-12 col-12">
	<div class="avisoCard">

		<div class="cardHeading">
			<p class="heading">Approve replies</p>
			<small>{{forums?.name}}</small>
    </div>
    <div *ngFor="let item of forums; let i = index" class="floatLeft">
        <div *ngIf="item.inmoderation === 'on'">
          {{item.reply}}
          <button  (click)="approveMod(item.id)">Approve</button>
        </div>
    </div>

	</div>
</div>


<!-- <app-footer></app-footer> -->