@import '../../sass/styles';
.col-12 .row {margin: $padding-quarter;}
p, a {font-size: 12px;}
p {margin: 0px; line-height: 14px;}
h4 {font-size: 18px; margin-top: 3px;}
.darkblue {background-color: $darkblue; color: $white;
  -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.metrics, .replies {background-color: $backgrey; clear: both; padding: $padding-quarter;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.replies {border-left: solid 1px $white;}
.usermetrics { padding: $padding-quarter;}
.usermetrics, .replyWrap {background-color: $lightgrey;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-bottom: 5px;
margin-top: 5px;
}
.smallPaddingT {padding-top: 5px;}
.green {color: $greent;}
.replyWrap {padding-bottom: $padding-quarter;}
.headerDate{ text-align: right; background-color: $darkblue; color: $white; padding: $padding-quarter;
  font-weight: bold;
  -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.replyWrap p{ padding: $padding-quarter;}
.replyWrap a{ margin: $padding-quarter;}
a {
    font-size: 12px; background-color: $greent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: $white!important;
    padding: 3px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
