<div class="row">
  <div *ngFor="let metrics of retunedMetrics; let lastmetric = last; let indexM = index " class="col-12">
    <div class="row" *ngIf="metrics.combinedName">
      <div class="col-12 darkblue">
        <h4>{{metrics.combinedName}}</h4> {{metrics.userid}}
      </div>
      <div class="col-6 metrics">
        <div *ngFor="let metricLog of metrics.usermetrics; let first = first; let lastr = last">
          <p *ngIf="first"><b>Logged in history</b></p>
          <div class="usermetrics " *ngIf="metricLog.Status == 'LoggedIn'">
            <p><b>Logged in at: </b>{{metricLog.Date | dateFormatadmin}}</p>
            <!-- <p *ngIf="metricLog.Status == 'LoggedOut'">Logged out at {{metricLog.Date | dateFormatadmin}}</p> -->
            <p class="timeLoggedin" *ngIf="metricLog.Status == 'LoggedIn'"><b>Logged in for: </b>{{metricLog.minuteDiffernce}} (minutes:seconds)</p>
          </div>
          <p *ngIf="lastr">Total time logged in: <b>{{metrics.totalTime}}</b></p>
        </div>
      </div>
      <!-- End log in details -->
      <!-- Begin replies get all replies in all forums for each user-->

      <div class="col-6 replies" *ngIf="allReplies">
        <div *ngFor="let replies of allReplies | excludeuser:metrics._id; let lastm = last; let first = first; let indexmet = index" class="">

          <p *ngIf="first"><b>Reply history</b></p>
          <div *ngIf="lastm" class="replyWrap">
            <p class="headerDate">{{replies.date}}</p>
            <p class="LastReply" [innerHtml]=replies.reply></p>
            <a [routerLink]="['/forum', replies.forumId]">View Forum</a>
          </div>
          <div *ngIf="showIndex == indexM" class="replyWrap">
            <p class="headerDate">Date posted: {{replies.date | dateFormatadmin}}</p>
            <p *ngIf="!lastm" class="notLastReply" [innerHtml]=replies.reply></p>
            <a *ngIf="!lastm" [routerLink]="['/forum', replies.forumId]">View Forum</a>
          </div>
          <p *ngIf="lastm" class="LastReply"><b>Last Reply on: </b>{{replies.date | dateFormatadmin}}</p>
          <a *ngIf="lastm" (click)=setReplyshow(indexM);><span *ngIf ="showIndex != indexM">Show all users replies</span><span *ngIf ="showIndex == indexM">Hide all users replies</span></a>
          <p *ngIf="lastm" class="smallPaddingT">Total number of replies - <b class="green">{{indexmet +1}}</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngFor="let forum of forums; let lastr = last">
  <div *ngFor="let replies of forum.replies; let lastn = last; let index = index">
      <div class="hiddenReply" *ngIf="showReplies == index">
            <div *ngIf = "metrics._id == replies.userid">
                <p *ngIf ="!last" class="notLastReply">Found Reply{{metrics._id}} + {{replies.reply}};</p>
                <p *ngIf ="last" class="LastReply">Found Reply{{metrics._id}} + {{replies.reply}}; (last) {{replies.date | dateFormatadmin}}</p>
                <p *ngIf ="last" class="LastReply">Last Reply on {{replies.date | dateFormatadmin}}</p>
                <a *ngIf="lastmetric" (click)=setReplyshow(indexmet);>Show users replies</a>
            </div>
            <div *ngFor="let repliesreply of replies.replies; let lastrr = last">
              <div *ngIf = "metrics._id == replies.userid">
                <p *ngIf ="!last" class="notLastReply">Found Replyreply {{metrics._id}} + {{repliesreply.reply}};</p>
                <p *ngIf ="last" class="LastReply">Found Replyreply {{metrics._id}} + {{repliesreply.reply}}; (last)</p>
                <p *ngIf ="lastrr" class="LastReply">Last Reply to a reply on {{repliesreply.date | dateFormatadmin}}</p>
              </div>
            </div>
      </div>

  </div>

</div> -->
<!-- <app-footer></app-footer> -->