<div class="col-md-12 paddingtop"><div class="avisocard">
  <h2>Healthcare21 Communications Limited virtual advisory board platform privacy policy:</h2>
  <p><b>HealthCare21 Communications Limited</b> (“<b>HC21</b>”, “<b>we</b>” or “<b>us</b>”) respect your concerns about privacy. This Privacy Notice describes the types of information collected through the HC21 Virtual Advisory Board site (the “<b>VAB Site</b>”),
    how we may use the information and with whom we may share it. We also describe the measures we take to safeguard the information and tell you how to contact us about our privacy practices. This is in accordance with the latest EU General Data Protection
    Regulation (GDPR) 2018 guidelines and is monitored by our GDPR compliance officer.</p>
  <br>
  <p><b>INFORMATION WE COLLECT</b></p>
  <p>From time to time, you will be asked to provide certain personal information. If provided, we will store such information, and you will not be anonymous to us. For example, we will ask you to provide and we will collect certain information at registration
    when you enter your member profile, which may include your name, business/practice name, and email address. At the time of registration, we will clearly label which information is required and which information you may optionally provide at your discretion.
  </p>
  <p>Several features on the VAB Site allow you to post personal information that will be viewable to certain Users of the VAB Site. For example, any information contained in a discussion-board message, along with the message’s associated name, will be viewable
    by certain registered Users. When posting messages on the VAB discussion boards, you should not reveal anything that you want to keep private. The information contained in the discussion-board message will be stored on our systems.</p>
  <br>
  <p><b>INFORMATION WE COLLECT BY AUTOMATED MEANS</b></p>
  <p>We may collect certain personal information by automated means, such as cookies, web beacons and web server logs. Information about these practices is available in the Cookie Policy.</p>
  <br>
  <p><b>HOW WE USE THE INFORMATION WE COLLECT</b></p>
  <p>We may use the information we obtain about you to:</p>
  <p> Verify your identity to ensure security for the other purposes listed here:</p>
  <p> Ensure complete confidentiality of the communications taking place</p>
  <p> Validation of Users taking part in the virtual advisory board</p>
  <p> Comply with applicable legal requirements and industry standards and our policies</p>
  <p> Respond to your requests, questions and comments</p>
  <p> Communicate with you about topics discussed during the virtual</p>
  <p>advisory board</p>
  <p> Provide any papers or documents you request</p>
  <p>In addition, we use information collected online through cookies, web beacons and other automated means for purposes such as: (i) recognising your computer when you visit the VAB Site; (ii) tracking you as you navigate the VAB Site; (iii) improving
    the VAB Site’s usability; (iv) analysing use of the VAB Site; (v) managing the VAB Site; and (vi) personalising the VAB Site. We also use this information to help diagnose technical and service problems, administer our VAB Site, identify Users of
    our VAB Site, and gather demographic information about our Users. We use clickstream data to determine how much time Users spend on web pages of our VAB Site, how Users navigate through our VAB Site, and how we may tailor our VAB Site to better meet
    the needs of our Users.</p>
  <p>We may use personal information for other additional purposes. We will identify these additional purposes at the time of collection.</p>
  <br>
  <p><b>ONLINE TRACKING</b></p>
  <p>We may also use third-party solutions to conduct web analytics, such as Google Analytics. Google Analytics is a web analytics service provided by Google, Inc., which uses technologies such as cookies to help analyse how Users use the VAB Site. The information
    generated by the cookie about your use of the VAB Site (such as your IP address, the URL visited, the date and time the page was viewed) will be transmitted and stored by Google on servers in the United States. Google will use this information to
    monitor your use of this VAB Site, compiling reports on website activity for website operators and providing other services related to website activity and internet usage. Google may transfer this information to third parties where required by law,
    or where such third parties process information on Google’s behalf. For more information about Google’s privacy policy in respect of Google Analytics, please refer to: _ ._ <a href="http://www.google.com/analytics/learn/privacy.html" target="_blank">http://www.google.com/analytics/learn/privacy.html</a>    </p>
  <p>You may opt out of Google Analytics by visiting: <a target="_blank" href="https://tools.google.com/dlpage/gaoptout?hl+en=GB">https://tools.google.com/dlpage/gaoptout?hl+en=GB</a> .</p>
  <p>The VAB Site is not designed to respond to “do not track” signals received from browsers.</p>
  <br>
  <p><b>SHARING INFORMATION</b></p>
  <p>We do not sell or otherwise disclose personal information we collect about you, except as described herein or otherwise disclosed to you at the time the data is collected.</p>
  <p>We may share your information among HealthCare21 medical-related entities. We also may share information provided by our visitors to this VAB Site with service providers we have retained to perform services on our behalf, including without limitation,
    hosting or operating this VAB Site, carrying out your requests, responding to your inquiries, and analysing data. We require these service providers by contract to appropriately safeguard the privacy and security of personal information they process
    on our behalf.</p>
  <p>We may disclose information about you (i) if we are required to do so by law, regulation or legal process (such as a court order or subpoena); (ii) in response to requests by government agencies, such as law enforcement authorities; or (iii) when we
    believe disclosure is necessary or appropriate to prevent physical harm or financial loss or in connection with an investigation of suspected or actual illegal activity. We reserve the right to transfer any information we have about you in the event
    we sell or transfer all or a portion of our business or assets (including in the event of a reorganisation, dissolution or liquidation).</p>
  <p><b>DATA TRANSFER</b></p>
  <p>We may transfer the information we collect on this VAB Site to other countries other than in which the information was originally collected. Those countries may not have the same data protection laws as the country in which you initially provided the
    information. When we transfer your information to other countries, we will protect that information as described in this Privacy Notice.</p>
  <p><b>PROTECTION OF COLLECTED INFORMATION AND LIMITATIONS</b></p>
  <p>This section addresses the ways we attempt to safeguard your information as well as the limitations on such protection.</p>
  <br>
  <p><b>Your communications</b></p>
  <p>The VAB Site provides an internal communication system so you can easily communicate with other Users on the VAB Site. HealthCare21 communications Limited (HC21) respects the privacy and sensitivity of your communications. Because the messages exchanged
    on the VAB Site reflect the beliefs and views of the Users who send them, HC21 is not responsible for the content of the messages exchanged on our system. HC21 is committed to a collegial and cooperative environment. If you receive or become aware
    of inappropriate (e.g., defamatory comments, harassment, threats, etc.) messages on the VAB Site, please notify us immediately. To provide you this communication service, HC21 must act as messenger between you and other Users. Therefore, when you
    click “Send” to submit a message on the VAB Site, we interpret that act as your authorisation for us to deliver that message. Please be careful when selecting recipients for your message, as we cannot “unsend” a message once you have sent it. If you
    choose to share your information with any other party, HC21 is not responsible in any way for loss of privacy or any other claim relating to or arising from such disclosure.</p>
  <p>HC21’s services facilitate the collection and distribution of medical advice and opinions among medical professionals. HC21 requests that you carefully consider the advice you give on the VAB Site and that you take all precautions to protect the identity
    of your patients. Please do not transmit or allow the transmission of any individually identifiable medical information without PRIOR authorisation from the respective patient.</p>
  <br>
  <p><b>SECURITY</b></p>
  <p>We maintain appropriate administrative, technical and physical safeguards designed to protect the personal information you provide against accidental, unlawful or unauthorised destruction, loss, alteration, access, disclosure or use.</p>
  <br>
  <p><b>LINKS TO OTHER WEBSITES</b></p>
  <p>The VAB Site may provide links to other websites for your convenience and information. These websites may operate independently from us. Linked sites may have their own privacy notices or policies, which we strongly encourage you to review to better
    understand their procedures for collecting, using and disclosing personal information. We are not responsible for the content of the linked websites, any use of these sites, or the privacy practices of these sites.</p>
  <br>
  <p><b>CHILDREN’S PRIVACY</b></p>
  <p>The VAB Site is not directed to children and we do not knowingly collect personal information from children on the VAB Site.</p>
  <br>
  <p><b>ACCESS, UPDATES AND YOUR RIGHTS AND CHOICES</b></p>
  <p>Subject to applicable law, you may (i) have the right to access certain personal information we maintain about you and obtain a copy of that information; (ii) update or correct inaccuracies in that information; (iii) object to our use of your personal
    information; and (iv) delete your personal information from our database. To exercise these rights, please contact us as indicated in the “How to Contact Us” section of this Privacy Notice. If you have provided your consent to the processing of your
    personal information, you have the right to withdraw your consent at any time. To help protect your privacy and maintain security, we may take steps to verify your identity before granting you access to the information. </p>
  <br>
  <p><b>CHANGES TO THIS PRIVACY NOTICE</b></p>
  <p>We reserve the right to change or add to this Privacy Notice from time to time and will post any revisions on the VAB Site. We will indicate at the top of the Privacy Notice when it was most recently updated. Your continued use of the VAB Site subsequent
    to any change to this Privacy Notice constitutes your acceptance of the change. Please review this statement periodically to ensure you are aware of any changes or updates to this Privacy Notice.</p>
  <br>
  <p><b>HOW TO CONTACT US</b></p>
  <p>If you have any questions about this Privacy Notice or our privacy practices, please feel free to email us at <a href="mailto:info@healthcare21.co.uk">info@healthcare21.co.uk</a> </p>
  <p>or write to:</p>
  <p><b>HealthCare21 Communications Ltd</b></p>
  <p><b>VAB Site</b></p>
  <p><b>Oakfield House</b></p>
  <p><b>Springwood Way</b></p>
  <p><b>Macclesfield, Cheshire</b></p>
  <p><b>SK10 2XA, UK</b></p>
  <br>
  <p><b>COOKIE POLICY</b></p>
  <p>Cookies are small digital signature files that are stored by your web browser that allow your preferences to be recorded when visiting the website. Also they may be used to track your return visits to the website.</p>
  <p>Third-party advertising companies may also use cookies for tracking purposes.</p>

</div>
</div>

<!-- <app-footer></app-footer> -->