<div class="logout" *ngIf="showIdle == 'truth'">
	<p>We see that you have been idle for 5 minutes and so you will be logged out shortly.<br />If you wish to stay logged in, please click here</p>
	<button (click)="triggerbox(close)" class="button button-exit">Stay logged in</button>
</div>