@import '../sass/_component';

.paddingtop { background-color: $lightgrey; background: url('/assets/lungBack.png');  background-position:center; background-repeat: no-repeat; background-size: cover; padding-top: 30px;}
.sanofi2, .phizer {  background-position:center!important; background-repeat: no-repeat!important; background-size: cover!important; background: none; }
.phizer {background: none;}
p {color: black; font-size: 14px;}
a {display: block; clear: both; font-size: 14px; }
.white { color: white;}


form {
    padding: 2rem 0 0;
}
.form-group {
	margin: 0 0 2rem;
}

.button {
	font-size: 1.6rem;
	border-radius: 4px;
}
.button-ghost {
    color: $c--pfizer-blue;
    border-color: $c--pfizer-blue;
    text-decoration: none;
    margin: 0 0 0 2rem;
    display: inline-block;
}

.heading {
	font-size: 2.6rem;
	text-align: center;
	color: $c--light-grey;
	display: block;
	width: 100%;
}

label {
	color: $c--mid-grey;
	font-size: 1.4rem;
    margin: 0 0 0.8rem;
    display: block;
}

p {
   color: $c--mid-grey;
   font-size: 1.2rem; 
}

a {
    margin: 0 1.4rem 0 0;
    color: $c--mid-grey;
    font-size: 1.2rem;
    text-decoration: underline;
}