<div class="row paddingtop" [ngClass]=" globals.currentSite ">
  <div class="col-md-6 offset-3">
    <div class="avisocard">
      <p class="heading">Forgotten password </p>
      <form name="form" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Email address</label>
          <input type="text" name="email" #username required />
          <p>Please enter your email address and a new password will be sent to you.</p>
        </div>
        <div class="form-group">
          <button (click)=submitemail(username) class="button button-login">Submit</button>
          <a [routerLink]="['/login']" class="button button-ghost">Cancel</a>
        </div>
        <a [routerLink]="['/na/privacy']">Click here to view our privacy policy</a>
      </form>
    </div>
  </div>

</div>

<!-- <app-footer></app-footer> -->