@import '../sass/_component';

header {
	padding: 6rem 0 5rem;

	@include b--md {
		padding: 2rem 0 4rem;
	}
}

.headerImage {
	max-height: 6rem;
	max-width: 10rem;
}

#pfizer_logo path {
	fill: $c--white;
}

#headerInner {
	display: flex;
	align-items: center;
}

#siteLogo {
	margin: 0 4rem 0 0;
	position: relative;
	z-index: 9999;

	svg path {
		transition: all 0.35s ease-out;
	}

	&.open {
		@include b--sc {
			#pfizer_logo path {
				fill: $c--pfizer-blue;
			}
		}
	}
}

#siteAccount {
	.button.button-ghost {
		color: $c--white;

		&:hover {
			color: $c--mid-grey;
		}
	}
}

#navMobileHolder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	@include b--md {
		background-color: $c--white;
		position: fixed;
		top: 0;
		right: 0;
		width: 40%;
		height: 100%;
		z-index: 999;
		padding-top: 10rem;
		transition: right 0.35s ease-out;
		display: block;
	}

	@include b--sm {
		width: 60%;
	}

	@include b--sc {
		width: 100%;
	}

	&.open {
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	}

	&.closed {
		right: -40%;

		@include b--sm {
			right: -60%;
		}

		@include b--sc {
			right: -100%;
		}
	}

	nav {

		a {
			position: relative;
			transition: all 0.35s ease-out;

			@include b--md {
				color: $c--dark-grey;
				display: block;
				padding: 3rem 2.4rem;
				width: 100%;
				&:after, &:before {
					content: '';
				}

				&:hover {
					background-color: $c--pfizer-blue;
					color: $c--white;

					&:after, &:before {
						background-color: $c--pfizer-blue;
					}
				}
			}

			&:after, &:before {
				width: 100%;
				height: 1px;
				background-color: rgba($c--md-grey, 0.15);
				position: absolute;
				bottom: 0;
				left: 0;
				transition: all 0.35s ease-out;
			}
			&:before {
				bottom: unset;
				top: 0;
			}
			&:not(:first-of-type):before {
				content: none;
			}

		}
	}
}


nav {
	display: flex;

	@include b--md {
		display: block;
	}

	a {
		display: inline;
		color: $c--white;
		padding: 0;
		margin: 0 3rem 0 0;
		opacity: 0.75;

		@include b--sm {
			font-size: 6vw;
		}

		@include b--sc {
			font-size: 8vw;
		}

		&:hover, &.active {
			opacity: 1;
		}
	}
}

#siteAccount {
	@include b--md {
		padding: 3rem 2.4rem;
	}

	a {
		margin: 0 0 0 1rem;
		

		@include b--md {
			display: block;
			margin: 0 0 1.4rem;

			&.button {
				font-size: 1.8rem;

				&.button-ghost {
					border-color: $c--strong-pink;
					color: $c--strong-pink;
	
					&:hover {
						background-color: $c--strong-pink;
						color: $c--white;
					}
				}
			}

		}
	}
}

#mobileBurger {
	display: none;
	height: 3rem;
	width: 4rem;
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
	z-index: 9999;

	.burgerContainer {
		position: relative;
		height: 100%;
	}

	span {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 0.4rem;
		background-color: $c--white;
		display: block;
		border-radius: 2px;
		transform: translate3d(0, -50%, 0);
		transition: all 0.35s ease-out;

		&:last-of-type {
			top: unset;
			bottom: 0;
			transform: translate3d(0, 0, 0);
		}
		&:first-of-type {
			top: 0;
			transform: translate3d(0, 0, 0);
		}
	}

	&.open {
		span {
			background-color: $c--mid-grey;
		}
		span:nth-child(2) {
			opacity: 0;
		}
		span:first-of-type {
			top: 50%;
			transform: rotate(-45deg) translate3d(0, 0, 0);
		}
		span:last-of-type {
			bottom: unset;
			top: 50%;
			transform: rotate(45deg) translate3d(0, 0, 0);
		}
	}

	@include b--md {
		display: block;
	}
}
