<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div id="mobileBurger" *ngIf="currentUser?.firstName" (click)="toggleState()" class={{toggleNav}}>
					<div class="burgerContainer">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>

				<div id="headerInner">
					<div id="siteLogo" class={{toggleNav}}>
						<a [routerLink]="['/']" (click)="closeNav()"><img *ngIf="globals.currentSite == 'sanofi1'" src="/assets/logon.png" class="headerImage">
							<img *ngIf="globals.currentSite == 'phizer'" src="./assets/hc21_logo.png" class="headerImage" style="width:175px; max-width:175px">
							<!-- <svg *ngIf="globals.currentSite == 'phizer'" xmlns="http://www.w3.org/2000/svg" id="pfizer_logo" class="headerImage" x="0px" y="0px" width="1226.7px" height="732.2px" viewBox="0 0 1226.7 732.2" style="enable-background:new 0 0 1226.7 732.2;" xml:space="preserve"> <g> <path d="M258.7,226.2h-27.8l-36.1,133.4c32.9,0.4,39.2-2.1,44.3-3.1c31.2-6.2,45-30.4,45-30.4c5.9-7.6,23.2-52.3,18.7-69.1 C297.4,236.1,279.2,228.6,258.7,226.2z"></path> <path d="M909.2,368.9c11.7-8.2,21.1-19.7,23.6-34.6c2.4-15.4-14.4-18.8-31.9-13.1c-31.8,10.3-51.6,40.1-52.7,65.1 C848.2,386.4,878.9,390,909.2,368.9z"></path> <path d="M991.4,39.4C882-0.6,471.1-68.5,140.5,195.5C15.4,295.4-66.2,458.8,72.9,599.7c83.6,84.6,202.7,109.9,207.9,109.9 c5.2,0,108.1-393.9,108.1-393.9s21.3-91.2,45.7-135.8c24.4-44.5,73.8-62.7,89.4-64.3c27-2.7,52.6-0.4,68.1,4.9 c26.5,9.1,38,28.5,40,36.5c9.6,39.1-18.7,55.8-37.4,56.8c-20.8,1-33.5-10.6-36.4-18.4c-3.1-8.3-5.1-24.9,4.5-34.6 c6.9-6.9,3.8-20.9-1.4-24.5c0,0-18.6-6.1-39.7,8c-13.9,9.3-32.4,52.1-36.1,64.5c-2.1,7-20.3,81.4-20.3,81.4l132,0.5L541.6,494 h-65.5L519.8,325h-66.5l-105,397.4c116.8,10.7,373.6,48.2,687.1-145.8C1196.7,476.8,1389.9,185.2,991.4,39.4z M338.1,357 c0,0-25.5,27.8-92.6,37c-26.5,3.6-62.4,2.6-62.4,2.6L158.1,494H89.5l82.4-298.5l103.2,1.3c0,0,78.5,4.7,93.5,53.9 C383.6,299.9,348.8,344.7,338.1,357z M755.7,496.6l-172.2-1.3c1.5-41.9,46.5-90.4,52.7-94.5c6.2-4.2,76.9-75.7,76.9-75.7l-94.3,0.3 l9.1-35h168.6c-15.1,42.2-28.4,49.9-47.6,70c-26,27.2-56.6,48.5-88.9,94.1l105.4-0.5L755.7,496.6z M854.5,502.3 c-73.2-4.1-84-73.2-71.8-111.3c23.6-73.5,79.7-92.5,90.4-96c95.2-31.1,112.3,24.6,112.3,33.2c0.1,48.2-44.9,69.7-78.7,77.5 c-18.5,4.2-33.5,7.3-62.6,6.5c0,0-3.8,12.4-0.5,22.5c1.6,5,5.2,14.5,24.4,25.9c0,0,25,8.1,45.7-4.7c18.2-11.3,34-25.1,34-25.1 l20.3,26.7C968,457.5,928.4,506.4,854.5,502.3z M1167,360.6c-17.3-1-26.2-13.8-27.9-19.2c0,0,2.9-28-31-10.2 c-5.9,3.1-15.7,16.1-26,32.1c-13.2,20.7-40.8,132.4-40.8,132.4h-67l53.8-206l66.2,0.7l-10.2,40.4c0,0,30.7-35.7,54.2-41.1 c15.8-3.6,37.8-5.4,53.4,15.4C1203.7,321.4,1193.9,362.2,1167,360.6z"></path> </g> </svg> 
							<img *ngIf="globals.currentSite == 'sanofi2'" src="/assets/logon2.png" class="headerImage"> -->
							<img *ngIf="globals.currentSite == 'demo'" src="./assets/logon3.png" class="headerImage">
						</a>
					</div>

					<div id="navMobileHolder" class={{toggleNav}}>
						<nav *ngIf="currentUser?.firstName">
							<a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="nav-link" (click)="closeNav()">Home</a>
							<a [routerLink]="['/forum']" [routerLinkActive]="['active']" class="nav-link" (click)="closeNav()">Discussion</a>
							<a [routerLink]="['/na/webex']" [routerLinkActive]="['active']" class="nav-link" (click)="closeNav()">Resources</a>
							<a [routerLink]="['/na/contact']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="nav-link" (click)="closeNav()">Contact</a>
						</nav>
            <div id="siteAccount">
              <a class="button button-ghost" [routerLink]="['/user-edit', currentUser?._id]" *ngIf="currentUser?.firstName" (click)="closeNav()">My Account</a>
              <a class="button button-pink" [routerLink]="['/login']" *ngIf="currentUser?.firstName" (click)="closeNav()">Log out</a>
            </div>
					</div>
          
				</div>
			</div>
		</div>
	</div>






  <!-- <nav>

    <div class="collapse navbar-collapse " [class.collapse]="navbarCollapsed" id="navbarNav">
      <ul class="navbar-nav" *ngIf="currentUser?.firstName">
        <li class="nav-item">
          <a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
             class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/forum']" [routerLinkActive]="['active']" class="nav-link"> Discussion</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/na/webex']" [routerLinkActive]="['active']" class="nav-link"> Resources</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/na/contact']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
             class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
    <div class="form-inline">
      <a class="btn btn-outline-success btn-outline-light btn-sm mr-2" [routerLink]="['/user-edit', currentUser?._id]"
         *ngIf="currentUser?.firstName">My Account</a>
      <a class="btn btn-danger btn-sm" [routerLink]="['/login']" *ngIf="currentUser?.firstName">Log out </a>

    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleNavbarCollapsing()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav> -->
</header>
<!-- <div class="p-1">
  <div class="container text-light py-1" style="background-color: transparent;">
    <h5 class="mb-0">{{sitename}}</h5>
    <p class="mb-0">{{slogan}}</p>
  </div>
</div> -->


