.sidebarAvatar {
	position: relative;
	width: 7rem;
}

.image {
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	-webkit-mask-image: -webkit-radial-gradient(white, black);

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 2px solid $c--white;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}

	img {
		min-height: 100%;
		max-height: 100%;
		min-width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		-webkit-transform: translate3d(-50%, -50%, 0);
		z-index: 1;
	}
}

.userStatus {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 1.8rem;
	width: 1.8rem;
	z-index: 3;
	background-color: $c--white;
	border-radius: 50%;

	span {
		height: 1.2rem;
		width: 1.2rem;
		margin: 0.3rem;
		display: block;
		border-radius: 50%;

		&.loggedIn {
			background-color: $c--moderate-green;
		}
		&.loggedOut {
			background-color: $c--vivid-red;
		}
	}
}
