/// Computes a top-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}

.btn {
	transition: all 0.35s ease-out;
	line-height: 1;
	padding: 0.8rem 3.2rem;
	font-size: 1.4rem;
	color: $c--white;
	border: 1px solid;

	&:hover {
		color: $c--white;
	}
	
	&.btn-primary {
		border-radius: 0.6rem;
		padding: 1rem auto;
		@include linearGradient($c--bright-blue, $c--moderate-green)
	}
	
	&.btnAdd {
		background-color: $c--green;

		&:hover {
			background-color: $c--moderate-green;
		}
	}

	&.btnGreen {
		background-color: $c--green;
		border-color: $c--green;

		&:hover {
			background-color: lighten($c--green, 10);
			border-color: lighten($c--green, 10);
		}
	}

	&.btnBlue {
		background-color: $c--pfizer-blue;
		border-color: $c--pfizer-blue;

		&:hover {
			background-color: lighten($c--pfizer-blue, 10);
			border-color: lighten($c--pfizer-blue, 10);
			color: $c--white;
		}
	}

	&.btnRed {
		background-color: $c--vivid-red;
		border-color: $c--vivid-red;

		&:hover {
			background-color: lighten($c--vivid-red, 10);
			border-color: lighten($c--vivid-red, 10);
		}

		&.ghost {
			color: $c--vivid-red;

			&:hover {
				color: $c--white;
			}
		}

	}

	&.ghost {
		background-color: transparent;
	}
}

@function top-shadow($depth) {
	$primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
	$blur: nth(1.5 3 10 14 19, $depth) * 4px;
	$color: rgba($c--black, nth(.12 .16 .19 .25 .30, $depth));

	@return 0 $primary-offset $blur $color;
}

/// Computes a bottom-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}

@function bottom-shadow($depth){
	$primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
	$blur: nth(1 3 3 5 6, $depth) * 4px;
	$color: rgba($c--black, nth(.24 .23 .23 .22 .22, $depth));

	@return 0 $primary-offset $blur $color;
}

@mixin card($depth){
	@if $depth < 1 {
		box-shadow: none;
	} @else if $depth > 5 {
		@warn "Invalid $depth `#{$depth}` for mixin `card`.";
	} @else {
		box-shadow: bottom-shadow($depth), top-shadow($depth);
	}
}
