@import '_mixins';
@import '_variables';
@import '_avatar';


.cardHeading {
	// padding-bottom: .5rem;
	display: flex;
	justify-content: space-between;
}

h2 {
	text-transform: uppercase;
	color: $c--bright-blue;
}

.button {
	cursor: pointer;
}

.cardContent {
	p {
		color: $c--md-grey;
		line-height: 1.2;
		font-family: $f--heading;
		font-weight: 400;

		&:last-of-type {
			margin: 0;
		}
	}
}

.cardResponse {
	height: 5.8rem;
	width: 6.6rem;
	position: relative;

	@include b--sc {
		width: 4.6rem;
		height: 3.8rem;
	}

	span {
		position: absolute;
		top: 1rem;
		width: 100%;
		text-align: center;
		color: $c--bright-blue;
		font-size: 2.4rem;
		font-family: $f--heading;
		font-weight: 400;

		@include b--sc {
			top: 8%;
			font-size: 4vw;
		}
	}
}

.cardCTA {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 2rem;
	text-align: right;

	.button {
		margin-right: -0.4rem;
		border: 0;
		@include linearGradient($c--bright-blue, $c--moderate-green);
		color: $c--white;
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: 600;
		font-family: $f--heading;
		padding: 0.6rem 5rem 1rem 1.6rem;

		@include b--sc {
			font-size: 4vw;
		}
	}

	img {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translate3d(0, -50%, 0);
		height: 1.4rem;
		width: 1.4rem;

		@include b--sc {
			height: 60%;
			width: auto;
		}
	}
}