@import '_mixins';
@import '_variables';
@import '_typography';
@import '_modal';
@import '_buttons';

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:focus {
		outline: none;
	}
}

.appSidebar {
	@include b--md {
		display: none;
	}
}

.avisoCard {
	background-color: $c--white;
	border-radius: 12px;
	padding: 2rem 3.2rem 6rem;
	margin: 0 0 3rem;
	position: relative;
	overflow: hidden;

	&.nopaddingbottom {
		background-color: transparent;
		color: white;
		border: 1px solid white;
	}
}



.avisoSecondary{
	.reply {
		transition: color 0.35s ease-out;
	}

	&:hover {
		background-color: $c--white;

		.reply {
			color: $c--dark-grey;
		}
	}
}