@function convert-angle($value, $unit) {
  $convertable-units: deg grad turn rad;
  $conversion-factors: 1 (10grad/9deg) (1turn/360deg) (3.1415926rad/180deg);
  @if index($convertable-units, unit($value)) and index($convertable-units, $unit) {
    @return $value
             / nth($conversion-factors, index($convertable-units, unit($value)))
             * nth($conversion-factors, index($convertable-units, $unit));
  }

  @warn "Cannot convert `#{unit($value)}` to `#{$unit}`.";
}

/// Test if `$value` is an angle
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
  $is-direction: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-direction or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @warn "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be an angle or a direction";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - convert-angle($value, 'deg');
}

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {String | List | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: ($direction, $color-stops);
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}





@function first($list){
	@return nth($list, 1);
}
@function last($list){
	@return nth($list, length($list));
}

@mixin linearGradient($colors...){
	$i: length($colors);

	@if $i > 1 {
		$base: 0;
		$inc: 100 / ($i - 1);
    $grd: '';

		@each $color in $colors {
			$c: index($colors, $color);
			@if $c == 1 {
				$grd: $grd + $color + ' 0%, ';
			}
			@else if $c == $i {
				$grd: $grd + $color + ' 100%';
			}
			@else {
				$grd: $grd + $color + ' ' + (($c - 1) * $inc) + '%, ';
			}
		}

    background-image: -webkit-gradient(linear, left bottom, right bottom, from(first($colors)), to(last($colors)));
		background: index($colors, 1); /* Old browsers */
		background: -moz-linear-gradient(right, unquote($grd)); /* FF3.6+ */
		// background: -webkit-gradient(linear, left, right, color-stop(0%,$start), color-stop(100%,$end)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(right, unquote($grd)); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(right, unquote($grd)); /* Opera 11.10+ */
		background: -ms-linear-gradient(right, unquote($grd)); /* IE10+ */
		background: linear-gradient(to right, unquote($grd)); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{first($colors)}', endColorstr='#{last($colors)}',GradientType=0 ); /* IE6-9 */
	} @else {
		background-color: $colors;
	}
}


@mixin stdShadow {
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}