@import '_mixins';
@import '_variables';

.modal.show .modal-dialog {
    width: 100%;
    height: 100%;
    max-width: unset;
    margin: 0;
}

.modal-content {
    margin: 0;
    background-color: transparent;
    border: 0;
	transition: all 0.35s ease-in-out;
	transform: translateY(-50%) !important;
	position: absolute;
	top: 50%;
    left: 25vw;
    width: 50vw;
    height: auto;

    @include b--md {
        height: 80%;
        width: 80vw;
        left: 10vw;
    }

    @include b--sm {
        left: 1.6rem;
        width: calc(100vw - 3.2rem);
    }

	.button {
		border-radius: 6px;
		border: 1px solid;
		color: $c--white;
		min-width: 12rem;
		display: inline-block;
		text-align: center;
		line-height: 1;
		padding: 0.6rem 1rem 0.8rem;
		transition: all 0.35s ease-out;
		font-size: 1.6rem;

		&.close {
			position: absolute;
			top: 2rem;
			right: 3rem;
			font-size: 1.2rem;
			float: none;
			font-weight: 300;
			line-height: 1;
			text-shadow: none;
			opacity: 1;
		}

		&.button-exit {
			background-color: $c--vivid-red;
			border-color: $c--vivid-red;
		
			&:hover {
				background-color: lighten($c--vivid-red, 10);
				border-color: lighten($c--vivid-red, 10);
			}
		}
	}


	textarea {
		width: 100%;
		font-size: 1.4rem;
		padding: 1.4rem;
		resize: none;
		height: 20rem;
		border: 1px solid rgba($c--black, 0.1);
		color: $c--dark-grey;
		line-height: 1.2;
	}

	form {
		margin: 2rem 0 0;
	}
}

.modalContributorWrapper {
    padding: 6rem;
    border-radius: 3rem;
    height: 100%;
    @include linearGradient($c--bright-blue, $c--moderate-green);

    @include b--sc {
        padding: 2rem;
    }
}

.modalReplyWrapper, .modalResourceWrapper, .modalBioWrapper {
    padding: 4rem;
    border-radius: 3rem;
    background-color: $c--white;
}



.modal-content {
    min-width: 50rem;

    @include b--sm {
        min-width: unset;
    }

    .modal-header {
        padding: 0;
        border-radius: 0;
        border-bottom: 0;
        align-items: center;

        .close {
            font-size: 3rem;
        }
    }
    .modal-title {
        line-height: 1;
        font-size: 2.6rem;
        color: $c--mid-grey;
    }

    .showForm {
        margin: 0;
        padding: 0;
    }

    .topHeading {
        text-align: center;
        padding: 0 0 2rem;

        p {
            color: $c--white;
            font-size: 3.2rem;
            font-family: $f--heading;
            margin: 0;
            line-height: 1;

            @include b--sc {
                font-size: 2.6rem;
            }
        }
    }

    .contributorListing {
        padding: 0;
        height: calc(100% - 11rem);
        overflow: auto;

        .sidebarAvatar {
            display: flex;
            width: 100%;
            margin: 0 0 2.4rem;
            align-items: center;

            .image {
                flex: 0 0 4.2rem;
            }

            .userStatus {
                right: unset;
                left: 3rem;
            }

            .sidebaravtext {
                flex: 1;
                padding-left: 1.4rem;

                p {
                    margin: 0;
                    color: $c--white;
                }
            }
        }
    }
    .buttonContainer {
        height: 7rem;
        padding: 2rem 0;
        position: relative;

        &:before {
            content: '';
            height: 1px;
            width: calc(100% + 6rem);
            background-color: $c--white;
            position: absolute;
            left: -3rem;
            top: 0;

            @include b--sc {
                left: 0;
                width: 100%;
            }
        }

        .button.close {
            position: static;
            display: block;
            margin: 0 auto;
            background-color: transparent;
            border: 2px solid $c--white;
            font-size: 2.4rem;
            font-weight: 600;
            padding: 0.6rem 2rem 0.8rem;
            font-family: $f--heading;
        }
    }
}

.modalBioWrapper {
    width: 100%;

    .modal-header {
        padding-bottom: 2.4rem;
    }

    p {
        color: $c--mid-grey;
        margin: 0;
    }

    .flexRow {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        padding-bottom: 1.8rem;

        p {
            font-size: 3.2rem;
            margin: 1.2rem 0 0 1.8rem;
        }
    }

    .sidebarAvatar {
        width: 14rem !important;
        height: 14rem !important;


        .sidebarav {
            width: 14rem;
            border-radius: 50%;
            overflow: hidden;

            img {
                max-width: 100%;
            }
        }

        .userStatus {
            height: 2.8rem;
            width: 2.8rem;

            span {
                height: 70% !important;
                width: 70% !important;
                margin: 15% !important;
            }
        }
    }

    .bio {
        span {
            display: block;
            color: $c--light-grey;
            font-size: 1.4rem;
            margin: 0 0 0.2rem;
        }
    }
}