h1, h2, h3, h4 {
	font-family: $f--heading;
}

h1 {
	font-size: 6rem;
	line-height: 1;
	margin: 0 0 5rem;

	@include b--sc {
		font-size: 8vw;
	}

	span {
		font-size: inherit;
		line-height: inherit;
		font-family: $f--heading;
	}
}

h2 {
	font-size: 3.2rem;
	line-height: 1.2;

	@include b--sc {
		font-size: 8vw;
	}
}

.reply { color: white; font-size: 16px; line-height: 20px; }

h3 {
	font-size: 2.5rem;
	line-height: 1;

	@media only screen and (max-width: 992px) and (orientation: landscape){
		font-size: 2vw;
	}
} 

p, li, a, small, abbr, address {
	font-family: $f--body;
	font-size: 1.8rem;
	line-height: 1.4;
}

label {
	font-family: $f--body;
	font-size: 1.4rem;
	line-height: 1.2;
}


a {
	text-decoration: none;
	transition: all 0.35s ease-out;

	&:hover {
		text-decoration: none;
	}
}



.button {
	border-radius: 6px;
	border: 1px solid;
	color: $c--white;
	min-width: 12rem;
	display: inline-block;
	text-align: center;
	line-height: 1;
	padding: 0.6rem 1rem 0.8rem;
	transition: all 0.35s ease-out;
	font-size: 14px;

	&:hover {
		color: $c--white;
	}
}

.button-pink {
	background-color: $c--strong-pink;
	border-color: $c--strong-pink;

	&:hover {
		background-color: $c--strong-pink;
		border-color: $c--strong-pink;
	}
}

.button-ghost {
	background-color: transparent;
	border-color: $c--white;

	&:hover {
		background-color: $c--white;
		color: $c--black;
		border-color: $c--white;
	}
}

.button-addgroup {
	background-color: $c--pfizer-blue;
	border-color: $c--pfizer-blue;

	&:hover {
		background-color: lighten($c--pfizer-blue, 10);
		border-color: lighten($c--pfizer-blue, 10);
	}
}

.button-exit {
	background-color: $c--vivid-red;
	border-color: $c--vivid-red;

	&:hover {
		background-color: lighten($c--vivid-red, 10);
		border-color: lighten($c--vivid-red, 10);
	}
}

.button-update {
	background-color: $c--green;
	border-color: $c--green;

	&:hover {
		background-color: lighten($c--green, 10);
		border-color: lighten($c--green, 10);
	}
}

.button-login {
	background-color: $c--pfizer-blue;
	border-color: $c--pfizer-blue;

	&:hover {
		background-color: lighten($c--pfizer-blue, 10);
		border-color: lighten($c--pfizer-blue, 10);
	}
}


input, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 1.2rem 0;
	font-size: 1.8rem;
	line-height: 1;
	color: $c--mid-grey;
	font-family: $f--body;
	font-weight: 300;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid $c--light-grey;
	width: 100%;
}
textarea {
	resize: none;
}


.heading {
	font-size: 2.6rem;
	text-align: center;
	color: $c--light-grey;
	display: block;
	width: 100%;
}

label {
	color: $c--mid-grey;
	font-size: 1.4rem;
    margin: 0 0 0.8rem;
    display: block;
}

.form-group {
	margin: 0 0 2rem;
}


.NoBSflex {
    display: flex;
    justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;

    &.flexLeft {
        justify-content: flex-start;
    }
    &.flexRight {
        justify-content: flex-end;
    }

    &.flexEven {
        > div {
            flex: 1;
        }
    }

    input {
        flex: 0 0 1.6rem;
		margin: 0 1rem 0 0;
    }
}

.inputThird {
    flex: 0 0 30%;
}
.inputTwoThird {
    flex: 0 0 65%;
}
.inputHalf {
	flex: 0 0 46%;
}