//Colours
$theme-colors: (
  primary: #197196
);

$site: phizer;

$white: null;
$green: null;
$tableblue: null;
$lightgrey: null;
$headerBack: null;
$black: null;
$highlight: null;
$lightblack: null;
$lightestgrey: null;
$greent: null;
$backgrey: null;
$darkblue: null;
$blue: null;
$lightblue: null;

@if $site  == demo {
  $white: #ffffff;
  $green: #008F4C;
  $tableblue: #DAE4EF;
  $lightgrey: #c9c9c9;
  $headerBack: #1D2F3A;
  $black: #000000;
  $highlight: #ACABAB;
  $lightblack: #3e3e42;
  $lightestgrey: #f2f5f9;
  $greent: #7dba00;
  $backgrey: #ECF0F1;
  $darkblue: #0093d0;
  $blue: #3262A9;
  $lightblue: #00aeef;

}

@if $site == sanofi {
  $white: #ffffff;
  $green: #008F4C;
  $tableblue: #DAE4EF;
  $lightgrey: #c9c9c9;
  $headerBack: #1D2F3A;
  $black: #000000;
  $highlight: #ACABAB;
  $lightblack: #3e3e42;
  $lightestgrey: #f2f5f9;
  $greent: #8EBB62;
  $backgrey: #ECF0F1;
  $darkblue: #0093d0;
  $blue: #0093d0;
  $lightblue: #0093d0;
  $primary: #0093d0;
}

@if $site == sanofi2 {
  $white: #ffffff;
  $green: #008F4C;
  $tableblue: #DAE4EF;
  $lightgrey: #c9c9c9;
  $headerBack: #1D2F3A;
  $black: #000000;
  $highlight: #ACABAB;
  $lightblack: #3e3e42;
  $lightestgrey: #f2f5f9;
  $greent: #8EBB62;
  $backgrey: #ECF0F1;
  $darkblue: #155B94;
  $blue: #3262A9;
  $lightblue: #4993D1;

}

@if $site  == phizer {
  $white: #ffffff;
  $green: #008F4C;
  $tableblue: #DAE4EF;
  $lightgrey: #c9c9c9;
  $headerBack: #1D2F3A;
  $black: #000000;
  $highlight: #ACABAB;
  $lightblack: #3e3e42;
  $lightestgrey: #f2f5f9;
  $greent: #0093d0;
  $backgrey: #ECF0F1;
  $darkblue: #0093d0;
  $blue: #0093d0;
  $lightblue: #0093d0;
  $primary: #197196;
  $darkblue: #197196;

}

//padding
$padding: 5%;
$padding-half: 2.5%;
$padding-quarter: 1.25%;
$padding-half-px: 15px;

//sidebar


$c--bright-blue: #29ABE2;
$c--green: #008F4C;
$c--moderate-green: #7AC943;
$c--vivid-red: #ED1C24;
$c--strong-pink: #D4145A;
$c--vivid-pink: #ED1E79;

$c--pfizer-blue: #0093d0;

$c--black: #000;
$c--white: #FFF;

$c--light-grey: #CCC;
$c--dark-grey: #4D4D4D;
$c--mid-grey: #808080;
$c--md-grey: #666;

$c--caution-yellow-bg: #fff3c4;
$c--caution-yellow: #9d7e00;


$f--heading: 'gill-sans-nova', sans-serif;
$f--body: 'myriad-pro', sans-serif;



// Breakpoints
$b--xl: 1400;
$b--lg: 1200;
$b--md: 992;
$b--sm: 768;
$b--sc: 520;
$b--xs: 320;


@mixin b--xl {
    @media (max-width: #{$b--xl}px) {
        @content;
    }
}
@mixin b--lg {
    @media (max-width: #{$b--lg}px) {
        @content;
    }
}
@mixin b--md {
    @media (max-width: #{$b--md}px) {
        @content;
    }
}
@mixin b--sm {
    @media (max-width: #{$b--sm}px) {
        @content;
    }
}
@mixin b--sc {
    @media (max-width: #{$b--sc}px) {
        @content;
    }
}
@mixin b--xs {
    @media (max-width: #{$b--xs}px) {
        @content;
    }
}