@import '../../../node_modules/bootstrap/scss/bootstrap';
@import './_variables';
@import './_mixins';
@import './buttons';
@import './_avatar.scss';

@if $site == sanofi2 {
	/deep/ body { background-image: url("/assets/main_background.png"); background-repeat:repeat-x;    background-position: center 178px; }
}

/deep/ .shortbackground {background-position: center 150px;}



