<div *ngIf="showUpload" id="popup1" class="overlay">
  	<div class="modal-content">
		<div class="modalResourceWrapper">
			<div class="modal-header">
				<h5 class="modal-title">Add resource</h5>
				<button type="button" class="close" aria-label="Close" (click)="toggleshowUpload()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<app-uploadres [inputid]="curId" ></app-uploadres>
		</div>
  	</div>
</div>



<div class="row">
	<div class="col-md-12 py-3">
		<h1>Resources</h1>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="">
      <div class="row">
        <div class="col-md-6">
			<div class="avisoCard">

				<!-- User uploaded -->	
				<p class="heading">User submitted resources</p>
				<div class="filterContainer">
					<div class="ddContainer">
						<ul class="forumFilter">
							<li *ngFor="let foruma of forumsall; let first = first, let i=index;" (click)="filterName(foruma._id)">{{foruma.name}}</li>
						</ul>
					</div>
				</div>
				<!-- <div class="section" >
					<p (click)="filterName(foruma._id)">{{foruma.name}}</p>
				</div> -->

				<ul class="downloadListing" *ngFor="let forum of forums; let first = first, let i=index;">
					<ng-container *ngFor="let single of groups | resfilter:curIdfilter ; let first = first, let last=last, let i=index;">
						<li>
              <a *ngIf="single.downloadUrl" href="{{single.downloadUrl}}" target="_blank">{{single.title}}</a>
              <a *ngIf="!single.downloadUrl" href="{{single.link}}" class="isLink" target="_blank">{{single.title}}</a>
							<a *ngIf="last" class="btn btnGreen btnInline" (click)="toggleshowUpload(forum._id)">Add resource</a>
						</li>
					</ng-container>
				</ul>
			</div>

        </div>
        <div class="col-md-6">
          <div class="resources-right">
				<div class="avisoCard">
					<p class="heading">Other resources</p>
					<ul class="downloadListing" *ngFor="let eventDetail of eventDetails; let first = first, let last=last, let i=index;">
						<ng-container *ngFor="let resources of eventDetail.data.resources; let first = first, let i=index">
							<li>
								<a href="{{resources.resourceLink}}" target="_blank">{{resources.resourceName}}</a>
							</li>
						</ng-container>
					</ul>
				</div>
              <!-- <a href="{{localURL}}/api/download/photo-1547129335519..jpg">Test Link - Image </a> -->
              <!--<div class="w-100 my-4">-->
                <!--&lt;!&ndash; <a class="btn btn-primary" [routerLink]="['/addResource']">Add a resource <i class="fa fa-upload"></i></a> &ndash;&gt;-->
              <!--</div>-->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row container flex py-5"> -->
  <!-- <div class="col-md-8 marginBot">
   <p><b>Event name: </b>{{eventDetails?.name}}</p>
    <p><b>Event location: </b>{{eventDetails?.location}}</p>

    <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe id="ytplayer" type="text/html" width="640" height="360" src="https://www.youtube.com/embed/sNzJjlV1TOA" frameborder="0"></iframe>
    </div>
  </div> -->
  <!-- <h3>Uploaded Files</h3><br/>
  <div class="resources-left"> -->
    <!-- Test for user group access-->
    <!-- <ul *ngFor="let group of groups; let first = first, let i=index, let first = first;" class="col-md-6 list-group">
      <h4 class="pt-4">{{group.groupName}}</h4>
      <li *ngFor="let single of group.items; let first = first, let i=index;" class="list-group-item list-group-item-action">
        <a class="" href="{{localURL}}/api/download/{{single.filename.filename}}">{{single.title }} <i class="fa fa-download"></i></a>
      </li>
    </ul>  -->
<!-- 
  
    <div class="section" *ngFor="let forum of forums; let first = first, let i=index;">

       
      <h4 class="pt-4">{{forum[0].title}}</h4>
      <div class="list-group">
        <ng-container *ngFor="let single of groups; let first = first, let last=last, let i=index;">
          <ng-container *ngIf="single.forumId === forum._id || forum[0].title === 'All'">
            <a class="list-group-item list-group-item-action"
               href="{{single.downloadUrl}}" target="blank"> {{single.title }} <i
              class="fa fa-download"></i></a>
          </ng-container>
          <a *ngIf="last" class="btn btn-primary" (click)="toggleshowUpload(forum._id)" >Add a resource <i
            class="fa fa-upload"></i></a>
        </ng-container>
      </div>
    </div>
  </div> -->

  <!-- <div class="resources-right"> -->
    <!-- <a href="{{localURL}}/api/download/photo-1547129335519..jpg">Test Link - Image </a> -->
    <!--<div class="w-100 my-4">-->
      <!--&lt;!&ndash; <a class="btn btn-primary" [routerLink]="['/addResource']">Add a resource <i class="fa fa-upload"></i></a> &ndash;&gt;-->
    <!--</div>-->
    <!-- <h4 class="pt-4">Other resources</h4>
    <div class="col-md-12 list-group my-2">
      <ng-container *ngFor="let resources of eventDetails?.resources; let first = first, let i=index">
        <a class="list-group-item list-group-item-action" href="{{resources.resourceLink}}" target="_blank">{{resources.resourceName}}<i
          class="fa fa-download"></i></a>
      </ng-container>
    </div>
  </div>
</div> -->


<!-- <app-footer></app-footer> -->
