@import '../sass/_component';

h1 {
  text-transform: uppercase;
  color: $c--white;

	@include b--sm {
		margin: 0 0 2rem;
	}
}

h4 {
	font-size: 2.5rem;
	color: $c--white;
    margin: 0 0 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: visible;
	opacity: 1;
	z-index: 10;

	&:target {
		visibility: visible;
		opacity: 1;
	}
}

.btn.btnInline {
	display: inline-block;
	color: $c--white;

	&:hover {
		color: $c--white;
	}
}



.downloadListing {
	list-style-type: none;
	padding: 0;
	margin: 0;

	a:not(.btn) {
		font-size: 1.6rem;
		line-height: 1;
		display: block;
		width: 100%;
		padding: 1.4rem 2.8rem 1.4rem 0.8rem;
		margin: 0;
		color: $c--dark-grey;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 1.6rem;
			height: 2.1rem;
			width: 2rem;
			transform: translateY(-50%);
			background: no-repeat url('assets/download-arrow@2x.png') center / contain;
		}

		&.isLink:after {
			background: no-repeat url('assets/resource--link.png') center / contain;
		}
	}

	.btn {
		margin: 2.4rem 0 0 0;
	}

	li {
		display: block;
		position: relative;
		transition: all 0.35s ease-out;

		&:before {
			content: '';
			height: 1px;
			width: calc(100% - 1.6rem);
			background-color: rgba($c--mid-grey, 0.2);
			position: absolute;
			top: 0;
			left: 0.8rem;
		}

		&:first-of-type {
			&:before {
				content: none;
			}
		}
		
		&:last-of-type {
			margin: 0 0 2.4rem;
		}

		&:hover {
			opacity: 0.75;
		}
	}

}



.filterContainer {
	position: relative;

	.ddContainer {
		height: auto;
		// height: 20rem;
		// max-height: 18rem;
		// position: absolute;
		// z-index: 4;
		// top: 100%;
		// left: 0;
		width: 100%;
		// overflow: hidden;
		margin: 0 0 2.4rem;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: 100%;
		height: auto;
		max-height: 100%;
		background-color: #EEE;
		border-radius: 0.8rem;
		transition: max-height 0.35s ease-out;

		li {
			padding: 1.4rem 0.8rem;
			color: $c--dark-grey;
			font-size: 1.4rem;
			position: relative;
			transition: all 0.35s ease-out;
			cursor: pointer;

			&:first-of-type {
				border-top-left-radius: 0.8rem;
				border-top-right-radius: 0.8rem;
			}

			&:not(:last-of-type):after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0.8rem;
				width: calc(100% - 1.6rem);
				height: 1px;
				background-color: $c--white;
				opacity: 1;
				transition: all 0.35s ease-out;
			}

			&:hover {
				background-color: $c--light-grey;

				&:after {
					opacity: 0;
				}
			}
		}
	}
}