﻿@import 'app/sass/_core';

html, body {
	padding: 0;
	margin: 0;
	font-size: 10px;
	line-height: 1;
}

body {
  @include linearGradient($c--bright-blue, $c--moderate-green);
}

.page-wrap {
  position: relative;
  min-height: calc(100% - 17rem);
  padding-bottom: 40rem;
}

a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.container {
  max-width: unquote($b--md+'px');

  @include b--md {
    max-width: 100%;
  }
}
