/* You can add global styles to this file, and also import other style files
@import "~bootstrap/dist/css/bootstrap.css";
@media (max-width: 978px) {
    .container {
      padding:10px;
      margin:0;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
    }
    .header { background-clip: border-box!important;}


    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
} */
