<div class="row">
	<div class="col-md-12">
		<h1><span>Welcome,</span> {{currentUser.firstName}}!</h1>
	</div>
</div>

<div class="row">
<div class="col-lg-9 col-md-12 homepage">
		<app-idle></app-idle>
	<div class="row">
	<div class="col-md-12">
		<div class="buttonsContainer flex">

			<div class="largeButtons flex">
				<div class="buttontext">
					<a [routerLink]="['/forum']" [routerLinkActive]="['is-active']" class="activeDiscussions" title="Join the conversation"><p class="activeDiscussionsNumber">{{totaldiscussions}}</p><span>Join the conversation</span></a>
				</div>
				<div class="buttontext">
					<a [routerLink]="['/na/webex']" [routerLinkActive]="['is-active']" class="resourceCentre" title="Go to the resource centre"><span>Go to the resource centre</span></a>
				</div>
			</div>

			<div class="smallButtons flex">
				<div class="buttontext small">
					<a [routerLink]="['/na/contact']" [routerLinkActive]="['is-active']" class="help" title="Help"><span>Help</span></a>
				</div>
				<div class="buttontext small">
					<a [routerLink]="['/user-edit', currentUser?._id]" [routerLinkActive]="['is-active']" class="settings" title="My Account"><span>My Account</span></a>
				</div>
				<div class="mobileOnly buttontext small">
					<a (click)="openEdit(reply,content)" *ngIf="currentUser?.firstName" class="topContributors" title="Top Contributors"><span>Top Contributors</span></a>
				</div>
				<div class="mobileOnly buttontext small">
					<a [routerLink]="['/user-edit', currentUser?._id]" *ngIf="currentUser?.firstName" class="logout" title="Logout"><span>Logout</span></a>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="textContainer">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
		</div>
	</div>
</div>

</div>
<div class="col-lg-3 appSidebar">
	<app-sidebar hideSidebar ='hide'></app-sidebar>
</div>
</div>


 <!-- Modal window -->
 <ng-template #content let-c="close" let-d="dismiss">
	 <div class="modalContributorWrapper">
	<!-- <div class="modal-header"> -->
		<div class="topHeading"><p>Top contributors</p></div>
		<div class="container contributorListing p-10">

		
			<ng-container *ngFor="let user of users; let i=index; let last = last">
	
			<div class="sidebarAvatar">
				<div class="image">
					<div *ngIf="user.avatar" class="sidebarav">
						<img [src]="'data:image/jpg;base64,'+user.avatar.value" *ngIf='basesixfour != "null"' /> 
					</div>
					<div *ngIf="!user.avatar" class="sidebarav">
						<img src="../../assets/avatar-default.svg" />
					</div>
				</div>
				<div class="userStatus">
					<span *ngIf="user.loggedin" class="loggedIn"></span>
					<span *ngIf="!user.loggedin" class="loggedOut"></span>
				</div>

				<div class="sidebaravtext">
						<p>{{user.firstName}} {{user.lastName}}</p>
					</div>
		
				</div>
				</ng-container>

		  </div>
		  <div class="buttonContainer">
				<button type="button" class="button button-exit close" aria-label="Close" (click)="d('Cross click')">Close</button>
		  </div>

	<!-- </div> -->
	<!-- <div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
	</div> -->
</div>
  </ng-template>

