@import '../sass/_component';

$buttonPad: 1rem;

h1 {
	color: $c--white;

	span {
		@include b--sc {
			display: block;
		}
	}
}

.flex {
	display: flex;
	justify-content: space-between;

	@include b--sm {
		flex-wrap: wrap;
	}
}

.buttontext {

	a {
		height: 100%;
		display: block;
		position: relative;
	}

	span {
		text-indent: -9000px;
		display: block;
	}

	p {
		color: $c--mid-grey;
		line-height: 1;
		text-transform: uppercase;
		font-family: $f--heading;
		font-weight: 300;
		font-size: 2.2rem;
		position: absolute;
		bottom: 4rem;
		left: 3rem;
		width: calc(100% - 6rem);
		margin: 0;
	}
	strong {
		display: block;
		font-weight: 600;
	}

	.activeDiscussionsNumber {
		font-family: $f--heading;
		font-weight: 500;
		font-size: 6.2rem;
		line-height: 1;
		color: $c--bright-blue;
		top: 16%;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		display: inline-block;
		width: auto;

		@include b--md {
			font-size: 8vw;
		}
		@include b--sm {
			font-size: 10vw;
		}
		@include b--xs {
			font-size: 20vw;
		}
	}
}


.textContainer {
	color: $c--white;
	
	p {
		font-size: 1.8rem;
		line-height: 1.2;
	}
}


@mixin stdBG {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}


.activeDiscussions {
	background: no-repeat url('../../assets/join-conversation@2x.png') center / contain;
	background-image: url('../../assets/join-conversation@2x.png');
	@include stdBG;
}
.resourceCentre {
	background: no-repeat url('../../assets/resource-centre@2x.png') center / contain;
	background-image: url('../../assets/resource-centre@2x.png');
	@include stdBG;
}
.help {
	background: no-repeat url('../../assets/help@2x.png') center / contain;
	background-image: url('../../assets/help@2x.png');
	@include stdBG;
}
.settings {
	background: no-repeat url('../../assets/settings@2x.png') center / contain;
	background-image: url('../../assets/settings@2x.png');
	@include stdBG;
}
.topContributors {
	background: no-repeat url('../../assets/top-contributors@2x.png') center / contain;
	background-image: url('../../assets/top-contributors@2x.png');
	@include stdBG;
}
.logout {
	background: no-repeat url('../../assets/logout@2x.png') center / contain;
	background-image: url('../../assets/logout@2x.png');
	@include stdBG;
}



// Button container
.buttonsContainer {
	width: 100%;
	margin: 0 0 2rem;
	justify-content: flex-start;
	align-items: flex-start;

	@include b--sm {
		display: block;
	}
}

.largeButtons {
	flex: 0 0 80%;

	@include b--md {
		flex: 1;
		max-width: 57rem;
		justify-content: flex-start;
		align-items: flex-start;
	}

	@include b--sm {
		flex: 1;
		flex-wrap: none;
		margin: 0;
		max-width: initial;
	}

	.buttontext {
		flex: 1;
		margin-right: 1rem;
		height: 28rem;

		@include b--md {
			flex: 0 0 49%;
		}

		@include b--sm {
			flex: 1;
			height: 50vw;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	a {

		@include b--sm {
			height: 48vw;
		}
	}
}

.smallButtons {
	flex: 0 0 20%;
	flex-wrap: wrap;
	padding-left: $buttonPad;

	@include b--md {
		flex: 1;
		max-width: 18vw;
	}

	@include b--sm {
		flex: 1;
		flex-wrap: nowrap;
		padding-left: 0;
		max-width: initial;
		align-items: center;
		justify-content: space-between;
	}

	.buttontext {
		flex: 0 0 1;
		width: 100%;
		margin-bottom: $buttonPad;
		height: 13.5rem;

		@include b--sm {
			flex: 1;
			max-width: 20vw;
			margin: 0;
			height: 20vw;
		}

		a {
			@include b--sm {
				height: 100%;
			}
		}
	}

	.mobileOnly {
		display: none;

		@include b--sm {
			display: block;
		}
	}
}