<div class="row">
  <div class="col-12">
    <p>Total likes: <b class="red">{{totalLikesAll}}</b></p>

  </div>
</div>
<h3 class="">Each forum</h3>
<div class="row forumRow">
  <div *ngFor="let forum of forumReturn; let index = index" class="col-4">

    <h4><b>Topic: </b>{{forum.forumName}}</h4>
    <div *ngIf="forum.likes.length == 0">
      <p>No likes.</p>
    </div>
    <div *ngFor="let likes of forum.likes | likeCombine; let index = index; let last = last">
      <div class="forumReply">
        <p><b>Forum Reply</b></p>
        <p [innerHtml]="likes.reply" class="likesReply"></p>
      </div>
      <div *ngFor="let usersloop of likes.users">
        <div class="forumReplies">
          <p class="usersReply">User: {{usersloop.user | userlookup: usersloop.user : users }}</p>
        </div>
      </div>
      <p class="totalLikes"><b>Total likes</b> ( {{likes.total}} ) </p>
      <!-- <p *ngIf="">Total likes on topic( {{index}} )</p> -->
    </div>
  </div>
</div>
<div class="row">

</div>
<!-- <app-footer></app-footer> -->