<div class="row fixed-top showBananas" [ngClass]="{'style1': showExpand }" *ngIf="showBananas">
	<div class="col-md-12 ">
	  <h3 *ngIf="showExpand">{{forums?.name}}</h3>
	  <!-- <p>Posted by: <b>{{forums?.username}}</b></p> -->
	  <p *ngIf="showExpand">{{forums?.question}}</p>
	  <p class="expandText" (click)="toggleExpand()" [ngClass]="{'expandButton': showExpand }">{{expandText}}</p>
	</div>
  </div>
  
  <!-- Modal window -->
  	<ng-template #content let-c="close" let-d="dismiss">
		<div class="modalReplyWrapper">
			<div class="modal-header">
	
				<h5 class="modal-title" *ngIf="showEdit == 'false'">Adding reply to {{modaltTitle}}</h5>
				<h5 class="modal-title" *ngIf="showEdit == 'reply'">Editing reply</h5>
				<h5 class="modal-title" *ngIf="showEdit == 'replyreply'">Editing reply</h5>
				<!-- could do better with an OR statement - see me :) -->
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

		<div *ngIf="showEdit == 'reply'">
			<form>
			<p *ngIf="eventDetails.inmoderation"><b>Moderating is on, your reply will be sent for moderation</b></p>
			<input type="hidden" name="username" id="username" class="form-control" class="noborder" #username
					value="{{currentUser.firstName}} {{currentUser.lastName}}">
			<input type="hidden" name="date" id="date" class="form-control" class="noborder" #date value="{{dateVar}}">
			<input type="hidden" name="userid" id="userid" class="form-control" class="noborder" #userid
					value="{{currentUser._id}}">
			<input type="hidden" name="authorref" id="authorref" class="form-control" class="noborder" #authorref
					value="{{replyAuthors}}">
			<input type="hidden" name="replyId" id="replyId" class="form-control" class="noborder" #_id value="{{replyId}}">

			<div class="form-group">
				<input type="hidden" name="name" id="name" class="form-control" class="form-control" #title>
				<input type="hidden" name="ismoderated" id="ismoderated" class="form-control" class="form-control" #ismoderated 	value="{{ismoderatedRR}}">
				<!-- <input type="text" name="name" id="name" class="form-control" class="form-control" #reply value="{{replyText}}"> -->
				<textarea rows="4" cols="50" name="name" id="name" #reply>{{replyText}}</textarea>
				<!-- <editor apiKey="1sms762nq26rlgs0nw88kywz6hrfdwbfqynf7lwtf7jnnz9s" [init]="{plugins: 'link',toolbar: 'undo redo  | bold italic | link image', default_link_target: '_blank', menubar:false, powerpaste:true}" [id]="editorText" [(ngModel)]="replyText" name="editor"></editor> -->
			</div>
			<button
				(click)="updateFormReply(username,title,reply,authorref,userid,editForumValue.uniqueId, date, replyId, ismoderated ); d('Close click');"
				class="btn btnAdd">Edit</button>
			</form>
		</div>
	</div>
  </ng-template>
  
  
  <!-- Modal window end-->
  

  <!-- <div class="margin-20">
	<div>myForm details:-</div>
	<pre>Is myForm valid?: <br>{{myForm.valid}}</pre>
	<pre>form value: <br>{{myForm.value | json}}</pre>
  </div> -->
  <app-idle></app-idle>
  <div class="row">
  
	<div class="col-md-9">
			<div class="avisocard">
					<div class="cardHeading">
						<div class="cardInfo">
							<!-- <h2>{{forums?.lable}}: {{forums?.name}}</h2> -->
							<a><h2> {{forums?.name}}</h2></a>
							<app-modaladd [currentUser]= currentUser></app-modaladd>
						</div>
						<!-- <div  class="cardResponse">
								<span >4</span>
						</div> -->
					</div>
						<div class="cardContent">
							<p>{{forums?.question}}</p>
						</div>
	
				</div>
	  <!-- initially hidden form -->
	  <div class="col-md-12 showForm" *ngIf="showForm">
		<form>
		  <p *ngIf="eventDetails.inmoderation"><b>Moderating is on, your reply will be sent for moderation</b></p>
		  <input type="hidden" name="username" id="username" class="form-control" class="noborder" #username
				 value="{{currentUser.firstName}} {{currentUser.lastName}}">
		  <input type="hidden" name="date" id="date" class="form-control" class="noborder" #date value="{{dateVar}}">
		  <input type="hidden" name="userid" id="userid" class="form-control" class="noborder" #userid
				 value="{{currentUser._id}}">
		  <div class="form-group">
			<!-- <label for="title">Title: </label><br/> -->
			<input type="hidden" name="name" id="name" class="form-control" class="form-control" #title>
		  </div>
  
  
		  <div class="form-group">
			<label for="title">Reply: </label><br/>
			<!-- <editor apiKey="1sms762nq26rlgs0nw88kywz6hrfdwbfqynf7lwtf7jnnz9s" [init]="{plugins: 'link',toolbar: 'undo redo  | bold italic | link image', default_link_target: '_blank', menubar:false,  content_css : '/assets/editor.css'}" [id]="editorText" [(ngModel)]="replyText"
			  name="editor" (onKeyUp)="filterCatalogues($event, 'replyText')"></editor> -->
			<div *ngIf="keyupVal == '@' || keyupVal == '2' " class="popupselect">
			  <a class="floatRight" (click)="setkeyupVal()"><i class="fa fa-times-circle"></i></a>
			  <div *ngFor='let user of users | filterByuser: keyUpValueMaintian'>
				<a *ngIf="user.title"
				   (click)="addNametoReply(user.title +' '+user.firstName+' '+user.lastName, user._id, reply)">{{user.firstName}}
				  {{user.lastName}}</a>
				<a *ngIf="!user.title" (click)="addNametoReply(user.firstName+' '+user.lastName, user._id, reply)">{{user.firstName}}
				  {{user.lastName}}</a>
			  </div>
			</div>
			<div class="relativeContainer">
  
			  <!--<textarea [(ngModel)]="replyInput" rows="4" cols="50" name="name" id="name" #reply (keyup)="getName(reply, $event)" (paste)="pasteUrl($event.clipboardData.getData('text/plain'))"></textarea>-->
			  <textarea [(ngModel)]="replyInput" rows="4" cols="50" name="name" id="name" #reply
						(keyup)="getName(reply, $event, reply, reply)" (click)="setPosition(reply)"
						[readonly]="isReadOnly"></textarea>
			  <!-- <div class="absoluteContainer" [innerHtml]="replyInput"></div> -->
			</div>
			<!-- {{isReadOnly}} -->
		  </div>
		  <!-- <label>Add reference number (please separate multiples by comma)</label> -->
		  <input type="hidden" name="name" id="name" class="form-control" class="form-control" #titlenew>
		  <div *ngIf="keyupVal == '@' || keyupVal == '2' " class="popupselect">
			<a class="floatRight" (click)="setkeyupVal(reply)"><i class="fa fa-times-circle"></i></a>
			<div *ngFor='let user of users | filterByuser: keyUpValueMaintian'>
  
			  <a *ngIf="user.title" (click)="addNametoReply(user.firstName+' '+user.lastName, user._id, reply)">{{user.firstName}}
				{{user.lastName}}</a>
			  <a *ngIf="!user.title" (click)="addNametoReply(user.firstName+' '+user.lastName, user._id, reply)">
				{{user.firstName}} {{user.lastName}}</a>
			</div>
		  </div>
  
		  <!-- <label>Add advisor's name (please type @ to display users list)</label> -->
		  <input id="typeahead-basic" type="hidden" class="form-control" [(ngModel)]="authorRef" name="search" #authorref
				 (keyup)="filterCatalogues(authorref, $event)"/>
		  <br/>
		  <button (click)="updateForm(username,title,reply,authorref,userid,titlenew,date)" class="btn btn-secondary">Add
			comment
		  </button>
		</form>
	  </div>
  
	  <div class="replies">
		<h4><b>Comments</b></h4>
		<div *ngIf="haspagination" class="pagination">
		  <p *ngIf="sortorder == 'default'" (click)="toggleforumorder()" class="sort">Sort comments by oldest <i
			class="fa fa-arrow-down"></i></p>
		  <p *ngIf="sortorder != 'default'" (click)="toggleforumorder()" class="sort">Sort comments by newest <i
			class="fa fa-arrow-up"></i></p>
			<div class="select_outline">
		  <select class="select-css" required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
			<option class='option' [value]="'none'" selected>Filter by author</option>
			<ng-container *ngFor='let user of users'>
			  <option class='option'  *ngIf="user.authority != 'admin'" [value]="user.firstName+' '+user.lastName">
						{{user.firstName}} {{user.lastName}}
			  </option>
			</ng-container>
			</select>
		</div>
	
		<div class="thePagination">
			<div class="paginationDiv" *ngFor="let pagination of paginationArr; let ii = index">
				<a *ngIf="(ii+1) == currentPage" (click)="setPage(pagination)" class="activePagination">{{pagination}}</a>
				<a *ngIf="(ii+1) != currentPage" (click)="setPage(pagination)" class="">{{pagination}}</a>
			</div>
		</div>
  
		<br />
		</div>
		<div *ngIf="!haspagination" class="pagination">
			<p *ngIf="sortorder == 'default'" (click)="toggleforumorder()" class="sort">Sort replies by oldest <i class="fa fa-arrow-down"></i></p>
			<p *ngIf="sortorder != 'default'" (click)="toggleforumorder()" class="sort">Sort replies by newest <i class="fa fa-arrow-up"></i></p>
			<!-- <span class="selectLabel">Author filter</span> -->
			<div class="select_outline">
				<select class='select-css' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
					<option class='option' [value]="undefined" selected>Author filter</option>
					<ng-container *ngFor='let user of uniqueusers' >
						<option class='option' *ngIf="user.authority != 'admin'" [value]="user">
							{{user}} 
						</option>
					</ng-container>
				</select>
			</div>
		</div>
 
		<!-- Initial replies -->
		<ng-container  
			 *ngFor="let reply of forumModerated  | pagination:haspagination:currentPage;  let j = index; let last = last; trackBy: trackByFn">
	
						<!-- <div class="row recentReply " *ngIf="reply.inmoderation != 'on'"> -->
							<div class="row">
								<ng-container *ngFor="let user of users; let i=index; let last = last">
									<div *ngIf="reply.authorref === user.id && j % 2 === 0"  class="col-md-2 col-sm-2 col-3">

										<a class="vcenter" (click)="showModal(user.email, userProfile)">
											<div *ngIf="!user.avatar" class="sidebarAvatar">
												<div class="image">
													<img src="../assets/no_profile_female.jpg" class="sidebaravatar" />
												</div>
											</div>
											<div *ngIf="user.avatar" class="sidebarAvatar">
												<div class="image">
													<img [src]="'data:image/jpg;base64,'+user.avatar.value" *ngIf='basesixfour != "null"' class="sidebaravatar"/>
												</div>
												<div class="userStatus">
													<span [ngClass]="{ 'loggedIn': user.loggedin, 'loggedOut': !user.loggedin }" *ngIf="user.loggedin"></span>
												</div>
											</div>
											<p class="username">{{user.firstName}} {{user.lastName}}</p>
										</a>

									</div>
								</ng-container>
				
						
								<div class="col-md-10 col-sm-10 col-9">
									<div class="avisoSecondary">

										<div class="dateClass">
											<p class="date"><strong>Posted on:</strong>&nbsp;<span innerHTML="{{reply.date | dateFormat}}"></span>&nbsp;GMT</p>
										</div>
										<pre><b>{{reply.name}}</b></pre>
										<div class="contentReply">
											<app-replysanitize 
												[uniqueId]="reply.uniqueId" 
												[authorRef]="reply.authorref" 
												[reply]="reply.reply"
												[replyId]="j" 
												[references]="reply.references" 
												[allforums]="forums"
												[currentUser]="currentUser" 
												[postUser]="reply.username">
											</app-replysanitize>
											<!-- <div *ngIf="(currentUser.firstName +' '+ currentUser.lastName) == reply.username" class="editPost"> -->
											<div *ngIf="reply.authorref === currentUser._id"  class="editPost">
												<a (click)="openEdit(reply,content)" class="leftSpan"><img _ngcontent-c2="" src="../assets/pencil.png"></a>
											</div>
										</div>
									</div>
								</div>

								<ng-container *ngFor="let user of users; let i=index; let last = last">
									<div *ngIf="reply.authorref === user.id && j % 2 !== 0"  class="col-md-2 col-sm-2 col-3 rightAligned">
										
										<div class="content">
											<a class="vcenter" (click)="showModal(user.email, userProfile)">
												<div *ngIf="!user.avatar" class="sidebarAvatar">
													<div class="image">
														<img src="../assets/no_profile_female.jpg" class="sidebaravatar" />
													</div>
												</div>
												<div *ngIf="user.avatar" class="sidebarAvatar">
													<div class="image">
														<img [src]="'data:image/jpg;base64,'+user.avatar.value" *ngIf='basesixfour != "null"' class="sidebaravatar"/>
													</div>
													<div class="userStatus">
														<span [ngClass]="{ 'loggedIn': user.loggedin, 'loggedOut': !user.loggedin }" *ngIf="user.loggedin"></span>
													</div>
												</div>
												<p class="username">{{user.firstName}} {{user.lastName}}</p>
											</a>
										</div>

									</div>
								</ng-container>
		 
						
								<div class="col-md-12 text-align-right">
									<!-- <a *ngIf="!forums?.closeForum" class="btn btn-lg btn-outline-primary" (click)="open(content,reply.id,reply.username)" class="showreplies replybutright">Add reply to {{reply.username}}</a> -->
									<p *ngIf="forums?.closeForum" class="red"><b>Forum is closed to comments</b></p>
								</div>
  
								<div class="col-md-9 offset-md-3" *ngIf="showreplyreply == j">
									<form>
										<div class="form-group">
										<label for="title">Reply: </label><br/>
										<p *ngIf="globals.moderation"><b>Moderating is on, your reply will be sent for moderation</b></p>
										<div class="form-group">
											<!-- <label for="title">Title: </label><br/> -->
											<input type="hidden" name="name" id="name" class="form-control" class="form-control" #titlenew>
										</div>
										<input type="hidden" name="username" id="username" class="form-control" class="noborder" #usernamenew
												value="{{currentUser.firstName}} {{currentUser.lastName}}">
										<textarea class="form-control" rows="4" cols="50" #replynew></textarea>
										</div>
										<!--Loop around all forum replies to get actual index-->
										<button (click)="replytoreply(reply.id,replynew,usernamenew,titlenew)" class="btn btn-secondary">Add
										comment
										</button>
									</form>
								</div>
							</div>
						<!-- End replies of replies -->
						</ng-container>

		<div class="clear-both"></div>
		<div *ngIf="haspagination" class="pagination">
		  <div class="paginationDiv" *ngFor="let pagination of paginationArr; let ii = index">
				<a *ngIf="(ii+1) == currentPage" (click)="setPage(pagination)" class="activePagination">{{pagination}}</a>
				<a *ngIf="(ii+1) != currentPage" (click)="setPage(pagination)" class="">{{pagination}}</a>
		  </div>
		</div>
		<br/>
		<div class="paddingTop postresponse">
			<app-modaladd [currentUser]= currentUser></app-modaladd>
		</div>
	  </div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-12">
			<app-sidebar hideSidebar ='hidelatest'></app-sidebar>
	</div>
  </div>
  <!-- <app-footer></app-footer> -->
  


 <!-- Modal window -->
 <ng-template #userProfile let-c="close" let-d="dismiss">
		<div class="modalBioWrapper">
			<div class="modal-header">
				<h5 class="modal-title">User details</h5>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
	
			<div class="flexRow">
				<div class="sidebarAvatar">
					<div *ngIf="current.avatar" class="sidebarav">
						<img [src]="'data:image/jpg;base64,'+current.avatar.value" *ngIf='basesixfour != "null"' /> 
					</div>
					<div *ngIf="!current.avatar" class="sidebarav">
						<img src="../assets/avatar-grey.svg" />
					</div>
				
					<div class="userStatus">
						<span *ngIf="current.loggedin" class="loggedIn"></span>
						<span *ngIf="!current.loggedin" class="loggedOut"></span>
					</div>
				</div>
				<p>{{current.firstName}} {{current.lastName}}</p>	
			</div>
			<p class="bio"><span>Biography</span>{{current.biography}}</p>	
		   
	</div>