@import '../sass/_component';

.heading {
	font-size: 2.6rem;
	text-align: center;
	color: $c--light-grey;
	display: block;
	width: 100%;
}



.avisocard {
	padding: 2rem 3.2rem 9rem;
}

.selectLabel, select{font-size: 12px; margin: 0px 5px 0 0;}
select {height: 20px;}
.darkblue {background-color: $darkblue; color: $white;
  -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding: $padding-quarter;
margin-left: $padding-quarter;
margin-right: $padding-quarter;
}

.postresponse{ margin-top: 30px!important;}

.relativeContainer {position: relative;}
.absoluteContainer{position: absolute; top: 3px; left: 3px;}
textarea {width: 100%;}
.doctor {color: $greent}
.paddingReply {padding-top: 5px;}
.floatRight{ float: right; margin-top: -20px; font-size: 12px;}

.darkblue h3 { color: $white; margin: 0px; font-size: 20px; margin: 0px;}
.darkblue h3 {margin: 10px 0px; max-width: 80%;}
.like {color: $greent; cursor: pointer;}
.liked {color: $greent; cursor: pointer;}
.likeMe {float: right; margin-left: 10px;}
.greybackground {background-color: $backgrey; padding: $padding-quarter; margin-bottom: $padding-quarter;}
.greybackgroundinner {background-color: $lightgrey; padding: $padding-quarter;}
.greybackground a, .greybackgroundinner a {display: inline-block; color: $lightblack; margin: 0px; padding: 0px; font-size: 12px;}
.greybackground p, .greybackgroundinner p {margin: 0px; padding: 0px; font-size: 12px;}
.is-active {color: $greent !important}
.userdetails { width: 15%; float: left; text-align: center;}
.userdetails img {max-width: 80%; height: 50px; margin: 5px auto; display: block;}
.showBananas {position: fixed;  z-index: 10000; max-width: 980px;  margin: auto; }
.style1 {padding: 20px; border: 1px solid $greent; background-color: $white;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contentReply {width: 100%; float: left;}
.uniqueId {background-color: transparent; color: $darkblue; text-align: right;}
.recentReply .uniqueId { background-color: transparent!important;}
.expandButton {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}
label, input[type="text"] {font-size: 12px;}
.expandText { width: 200px; margin-left: auto; margin-right: auto; text-align: center; cursor: pointer; color: $white; font-weight: bold;
  background-color: $greent;
  -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
  margin-bottom: 0px!important;
}
.nopadding {padding: 0px;}
.forumPost{ clear:both;border: 1px solid $lightgrey; background-color: $backgrey; font-size: 16px;  padding-bottom: $padding-quarter;

margin-left: $padding-quarter;
margin-right: $padding-quarter;
}
h4{color: #FFF;
  font-size: 2.5rem;
  margin: 0 0 2rem;
text-transform: uppercase;

@include b--sm {
  margin: 0 0 0.7rem;
}
}
// .replies::after{
//   content: "";
//   position: absolute;
//   // border-top: 2px solid white;
//   opacity: 0.5;
//   width: 70%;;
//   top: 15px;
//   right: 0px;
//   height: 2px;
//   background: linear-gradient(to left, #fff 0%, #fff 100%)
// }

p {color: $lightblack;}

.showForm {
  #name {
      width: 100%;
    }
}

.icon {float: left; width: 10%; padding: 2%; font-size: 32px; color: $lightgrey;}
.replycontent{ float: left; width: 90%;  padding: 0px;}
.recentReply p{ padding: 2px $padding-half-px; background-color: $lightestgrey; margin: 0px; font-size: 14px; line-height: 18px;}
.alwaysblack {color: $lightblack !important; }
.date span{color: $c--moderate-green;font-size: 14px!important;}
.nopaddingbottom {padding-bottom: 2em;}
.sort {
  margin-right: 10px; 
  cursor: pointer; 
  color: $white; 
  font-size: 12px; 
  margin-top: 5px;

  @include b--sc {
    flex: 1;
  }
}
.col-md-2 .sidebarAvatar .image {
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 50%;
}
.dateClass {	 
  background: white;  
  margin-left: -2rem;   
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  width: 55%;

  @include b--sm {
    width: 50vw;

    p {
      margin: 0;
      font-size: 1.4rem;
    }
  }

  @include b--sc {
    width: calc(100% + 4rem);
    border-radius: 0;

    p {
      font-size: 1rem;
    }
  }
}
#editorText {display: none;}
.popupselect { background-color: white; padding: 5px;display: inline-block; position: absolute; bottom: 93px; max-height: 250px; border: 1px $darkblue solid;}
.popupselect a {font-size: 12px; text-decoration: underline; line-height: 14px; padding: 0px 5px; margin: 0px;}

.recentReply p.date {background: none; padding: 5px 5px;}
p.username {text-align: left; padding: 10px 0px 0 0!important; font-size: 14px!important; color: white; line-height: 12px!important; font-weight: bold; margin: 1rem 0 2rem !important; background-color: transparent!important;}
.pTop {margin-top: 40px; }

.pagination:first-of-type { 
  position: absolute; 
  right: 0px; 
  top: 1px; 
  display: flex; 
  align-items: center; 

  @include b--sm {
    position: static;
    top: initial;
    right: initial;
    margin: 0 0 2rem;
    flex-wrap: wrap;
  }
}
.paginationDiv { text-align: center; display: inline-block; font-size: 14px; background-color: white; }
.paginationDiv a{
  width: 100%; display: inline-block;
  color: black;
  user-select: none;
  padding: 0.4rem 1rem;
  opacity: 0.25;
  transition: opacity 0.35s ease-out;
}
.paginationDiv a.activePagination, .paginationDiv a:hover { opacity: 1; }

.pagination select {
  margin-right: 2rem;
  border: 0;
}
.pagination .select_outline {
	margin-right: 2rem;
}
.pagination .select_outline select {
	margin-right: 0;
	border: 1px solid $c--white;
}

.showreplies{
  font-size: 12px; background-color: $greent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: $white!important;
  padding: 3px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.avisoSecondary{
  position: relative;
  border: 1px solid white;
  padding: 2rem;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 2rem;
  transition: background-color 0.35s ease-out;

  @include b--sc {
    padding: 1rem 2rem 2rem;
  }
}


.editPost {
  font-size: 12px; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: $white!important;
  width: 10%;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;

  @include b--sm {
    width: 10vw;
  }
  @include b--sc {
    display: none;
  }
}
.leftSpan {
  img {
    width: 100%;
  }
}

.replyreply {
  width: 90%;
  margin-left: 10%;
}
.replybutright {float: right;}
.paddingTop {margin-top: $padding-quarter; position: relative;}
.paddingTop .cardCTA {bottom: 1rem}

.pagination .paginationDiv:first-of-type{
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.pagination .paginationDiv:last-of-type{
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
.likesTotal{
  font-size: 12px;
  color: $greent;
  display: inline-block;
  margin-top: -5px;
  background: none!important;
  padding-left: 2px!important;
  padding-right: 0px!important;
}
.rotate {

/* Safari */
-webkit-transform: rotate(-180deg);

/* Firefox */
-moz-transform: rotate(-180deg);

/* IE */
-ms-transform: rotate(-180deg);

/* Opera */
-o-transform: rotate(-180deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.replies { position: relative;}

.recentReply:nth-of-type(odd) {
  flex-direction: row-reverse;
  }
.replyreply:nth-child(even) { background-color: $tableblue; }
.paddingtop {padding: $padding-quarter 0px;}

.sidebarAvatar {width: 80%; position: relative}
.rightAligned .content {
  margin-left: 20%;

  .sidebarAvatar {
    width: 100%;
  }
}
.select-css {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  padding: 0 1.5em;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  border-spacing: 15px;
  position: relative;
}
.select_outline {
  border: white 1px solid;
  height: 30px;
  padding: 4px;
  border-radius: 1.5em;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
.select-css option {
  font-weight:normal;
}



body {
padding: 3rem;
}
