

    <div class="row">
			<div class="col-md-12">
			  <h3>{{forums?.lable}}: {{forums?.name}}</h3>
			  <div class="floatRight">{{forums?.date | dateFormat}} GMT</div>
			</div>
			<!-- <p>Posted by: <b>{{forums?.username}}</b></p> -->
			<div class="col-md-12 forumPost">
			  <!--Trust dangerous -->
			  <p class="paddingReply" [innerHTML]="forums?.question"></p>
			  <p *ngIf="forums?.closeForum" class="red"><b>Forum is closed to comments</b></p>
			  <button *ngIf="!forums?.closeForum" (click)="toggleform()" class="btn btn-secondary">{{buttonText}}</button>
			</div>
		  </div>




    <!-- initially hidden form -->
    <div class="col-md-12 showForm" *ngIf="showForm">
			<form>
				<p *ngIf="globals.inmoderation === 'on'"><b>Moderating is on, your reply will be sent for moderation</b></p>
				{{globals.inmoderation}}
			  <input type="hidden" name="username" id="username" class="form-control" class="noborder" #username
					 value="{{currentUser.firstName}} {{currentUser.lastName}}">
			  <input type="hidden" name="date" id="date" class="form-control" class="noborder" #date value="{{dateVar}}">
			  <input type="hidden" name="userid" id="userid" class="form-control" class="noborder" #userid
					 value="{{currentUser._id}}">
			  <div class="form-group">
				<!-- <label for="title">Title: </label><br/> -->
				<input type="hidden" name="name" id="name" class="form-control" class="form-control" #title>
			  </div>
	  
	  
			  <div class="form-group">
				<label for="title">Reply: </label><br/>
				<!-- <editor apiKey="1sms762nq26rlgs0nw88kywz6hrfdwbfqynf7lwtf7jnnz9s" [init]="{plugins: 'link',toolbar: 'undo redo  | bold italic | link image', default_link_target: '_blank', menubar:false,  content_css : '/assets/editor.css'}" [id]="editorText" [(ngModel)]="replyText"
				  name="editor" (onKeyUp)="filterCatalogues($event, 'replyText')"></editor> -->
				<div *ngIf="keyupVal == '@' || keyupVal == '2' " class="popupselect">
	  
				  <a class="floatRight" (click)="setkeyupVal()"><i class="fa fa-times-circle"></i></a>
				  <div *ngFor='let user of users | filterByuser: keyUpValueMaintian'>
					<a *ngIf="user.title"
					   (click)="addNametoReply(user.title +' '+user.firstName+' '+user.lastName, user._id, reply)">{{user.firstName}}
					  {{user.lastName}}</a>
					<a *ngIf="!user.title" (click)="addNametoReply(user.firstName+' '+user.lastName, user._id, reply)">{{user.firstName}}
					  {{user.lastName}}</a>
				  </div>
				</div>
				<div class="relativeContainer">
	  
				  <!--<textarea [(ngModel)]="replyInput" rows="4" cols="50" name="name" id="name" #reply (keyup)="getName(reply, $event)" (paste)="pasteUrl($event.clipboardData.getData('text/plain'))"></textarea>-->
				  <textarea [(ngModel)]="replyInput" rows="4" cols="50" name="name" id="name" #reply
							(keyup)="getName(reply, $event, reply, reply)" (click)="setPosition(reply)"
							[readonly]="isReadOnly"></textarea>
				  <!-- <div class="absoluteContainer" [innerHtml]="replyInput"></div> -->
				</div>
				<!-- {{isReadOnly}} -->
			  </div>
			  <!-- <label>Add reference number (please separate multiples by comma)</label> -->
			  <input type="hidden" name="name" id="name" class="form-control" class="form-control" #titlenew>
			  <div *ngIf="keyupVal == '@' || keyupVal == '2' " class="popupselect">
				<a class="floatRight" (click)="setkeyupVal(reply)"><i class="fa fa-times-circle"></i></a>
				<div *ngFor='let user of users | filterByuser: keyUpValueMaintian'>
	  
				  <a *ngIf="user.title" (click)="addNametoReply(user.firstName+' '+user.lastName, user._id, reply)">{{user.firstName}}
					{{user.lastName}}</a>
				  <a *ngIf="!user.title" (click)="addNametoReply(user.firstName+' '+user.lastName, user._id, reply)">
					{{user.firstName}} {{user.lastName}}</a>
				</div>
			  </div>
	  
			  <!-- <label>Add advisor's name (please type @ to display users list)</label> -->
			  <input id="typeahead-basic" type="hidden" class="form-control" [(ngModel)]="authorRef" name="search" #authorref
					 (keyup)="filterCatalogues(authorref, $event)"/>
			  <br/>
			  <button (click)="updateForm(username,title,reply,authorref,userid,titlenew,date)" class="btn btn-secondary">Add
				comment
			  </button>
			</form>
		  </div>







		  <div class="replies">
				<h4><b>Comments</b></h4>
				<div *ngIf="haspagination" class="pagination">
				  <p *ngIf="sortorder == 'default'" (click)="toggleforumorder()" class="sort">Sort comments by oldest <i
					class="fa fa-arrow-down"></i></p>
				  <p *ngIf="sortorder != 'default'" (click)="toggleforumorder()" class="sort">Sort comments by newest <i
					class="fa fa-arrow-up"></i></p>
		  
				  <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
					<option class='option' [value]="'none'" selected>Filter by author</option>
					<ng-container *ngFor='let user of users'>
					  <option class='option'  *ngIf="user.authority != 'admin'" [value]="user.firstName+' '+user.lastName">
						{{user.firstName}} {{user.lastName}}
					  </option>
					</ng-container>
				  </select>
		  
				  <div class="paginationDiv" *ngFor="let pagination of paginationArr; let ii = index">
					<a *ngIf="(ii+1) == currentPage" (click)="setPage(pagination)" class="activePagination">{{pagination}}</a>
					<a *ngIf="(ii+1) != currentPage" (click)="setPage(pagination)" class="">{{pagination}}</a>
				  </div>
		  
				  <br/>
				</div>
				<div *ngIf="!haspagination" class="pagination">
				  <p *ngIf="sortorder == 'default'" (click)="toggleforumorder()" class="sort">Sort replies by oldest <i
					class="fa fa-arrow-down"></i></p>
				  <p *ngIf="sortorder != 'default'" (click)="toggleforumorder()" class="sort">Sort replies by newest <i
					class="fa fa-arrow-up"></i></p>
				  <!-- <span class="selectLabel">Author filter</span> -->
				  <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
					<option class='option' [value]="undefined" selected>Author filter</option>
					<ng-container *ngFor='let user of users' >
					<option class='option' *ngIf="user.authority != 'admin'" [value]="user.firstName+' '+user.lastName">
					  {{user.firstName}} {{user.lastName}}
					</option>
				  </ng-container>
				  </select>
				</div>
		  
				<!-- Initial replies -->
				<div class="row recentReply"
					 *ngFor="let reply of forumModerated  | pagination:haspagination:currentPage;  let j = index; let last = last; trackBy: trackByFn">
				  <div class="col-md-12 nopadding">
					<div class="dateClass">
					  <!-- <p class="date"><b>Posted on:</b> {{reply.date | dateFormat}} GMT | {{reply.uniqueId}}</p>-->
					  <p class="date"><b>Posted on:</b> {{reply.date | dateFormat}} GMT </p>
					</div>
				  </div>
				  <div class="col-md-1 icon">
					<i class="fa fa-reply rotate" data-fa-transform="rotate-90"></i>
				  </div>
				  <div class="replycontent col-md-11">
					<div class="userdetails">
					  <div *ngFor="let user of users; let i=index; let last = last">
					
							<div *ngIf="reply.username === (user.firstName +' '+user.lastName)">
								<div *ngIf="user.avatar" class="sidebarav">
								<img [src]="'data:image/jpg;base64,'+user.avatar.value" *ngIf='basesixfour != "null"' class="sidebaravatar"/>
								</div>
								<div *ngIf="!user.avatar" class="sidebarav">
								<img src="../assets/no_profile_female.jpg" class="sidebaravatar"/>
								</div>
							</div>
					  </div>
					  <p class="username"> {		{{reply | json}}</p>
					</div>
					<pre><b>{{reply.name}}</b></pre>
					<div class="contentReply">
					  <app-replysanitize [uniqueId]="reply.uniqueId" [authorRef]="reply.authorref" [reply]="reply.reply"
										 [replyId]="j" [references]="reply.references" [allforums]="forums"
										 [currentUser]="currentUser" [postUser]="reply.username"></app-replysanitize>
					  <div *ngIf="(currentUser.firstName +' '+ currentUser.lastName) == reply.username">
						<a (click)="openEdit(reply,content)" class="leftSpan editPost">Edit post</a>
					  </div>
					</div>
				  </div>
		  
				  <!-- Replies of replies -->
				  <!-- <div *ngFor="let replyreply of reply.replies  let ii = index, let lastr =last" class="replyreply">
					<div *ngIf="!eventDetails.inmoderation ||  replyreply.inmoderation != 'true'">
					  <div class="userdetails">
						<div *ngFor="let user of users; let i=index; let last = last">
						  <div *ngIf="replyreply.username === (user.firstName +' '+user.lastName)">
							<div *ngIf="user.avatar" class="sidebarav">
							  <img [src]="'data:image/jpg;base64,'+user.avatar.value" *ngIf='basesixfour != "null"' class="sidebaravatar" />
							</div>
							<div *ngIf="!user.avatar" class="sidebarav">
							  <img src="../assets/no_profile_female.jpg" class="sidebaravatar" />
							</div>
						  </div>
						</div>
						<p class="username"> {{replyreply.username}}</p>
					  </div>
					  <div class="contentReply">
						<app-replysanitize [uniqueId]="replyreply.uniqueId" [authorRef]="replyreply.authorref" [reply]="replyreply.reply" [references]="replyreply.name" [allforums]="forums" [currentUser]="currentUser" [postUser]="replyreply.email"></app-replysanitize>
						<div *ngIf="(currentUser.firstName +' '+ currentUser.lastName) == replyreply.username">
						  <a (click)="openEditrr(replyreply,content)" class="leftSpan editPost">Edit post</a>
						</div>
		  
					  </div>
					</div>
				  </div> -->
		  
				  <div class="col-md-12 text-align-right">
					<!-- <a *ngIf="!forums?.closeForum" class="btn btn-lg btn-outline-primary" (click)="open(content,reply.id,reply.username)" class="showreplies replybutright">Add reply to {{reply.username}}</a> -->
					<p *ngIf="forums?.closeForum" class="red"><b>Forum is closed to comments</b></p>
				  </div>
		  
				  <div class="col-md-9 offset-md-3" *ngIf="showreplyreply == j">
					<form>
					  <div class="form-group">
						<label for="title">Reply: </label><br/>
						<p *ngIf="eventDetails.inmoderation"><b>Moderating is on, your reply will be sent for moderation</b></p>
						<div class="form-group">
						  <!-- <label for="title">Title: </label><br/> -->
						  <input type="hidden" name="name" id="name" class="form-control" class="form-control" #titlenew>
						</div>
						<input type="hidden" name="username" id="username" class="form-control" class="noborder" #usernamenew
							   value="{{currentUser.firstName}} {{currentUser.lastName}}">
						<textarea class="form-control" rows="4" cols="50" #replynew></textarea>
					  </div>
					  <!--Loop around all forum replies to get actual index-->
					  <button (click)="replytoreply(reply.id,replynew,usernamenew,titlenew)" class="btn btn-secondary">Add
						comment
					  </button>
					</form>
				  </div>
		  
				  <!-- End replies of replies -->
				</div>
				<div class="clear-both"></div>
				<div *ngIf="haspagination" class="pagination paddingTop">
				  <div class="paginationDiv" *ngFor="let pagination of paginationArr; let ii = index">
					<a *ngIf="(ii+1) == currentPage" (click)="setPage(pagination)" class="activePagination">{{pagination}}</a>
					<a *ngIf="(ii+1) != currentPage" (click)="setPage(pagination)" class="">{{pagination}}</a>
				  </div>
				</div>
				<br/>
				<div class="paddingTop">
				  <!-- <a *ngIf="haspagination" (click)="showallReplies()" class="showreplies paddingTop">Show all replies</a>
				  <a *ngIf="!haspagination" (click)="showallReplies()" class="showreplies paddingTop">Show pagination</a> -->
				  <button *ngIf="!forums?.closeForum" (click)="toggleform()" class="btn btn-secondary">{{buttonText2}}</button>
				</div>
			  </div>