<!-- <div class="margin-20">
  <div>myForm details:-</div>
  <pre>Is myForm valid?: <br>{{form.valid}}</pre>
  <pre>form value: <br>{{form.value | json}}</pre>
</div> -->

<div class="row paddingtop">
    <div class="col-md-12">
  
      	<div class="avisocard">
			<p class="heading">Register</p>
			<form [formGroup]="form" (ngSubmit)="register()">
  
			<div class="flex">
				<div class="form-group inputThird">
					<label for="name">Title</label>
					<input type="text" placeholder="" formControlName="title" id="title">
					<!-- <div class="warning" *ngIf="!formvalid && !form.controls['title'].valid">Title is required</div> -->
				</div>
				<div class="form-group inputThird">
					<label for="name">First name<sup>*</sup></label>
					<input type="text" placeholder="" formControlName="firstName" id="firstName">
					<div class="warning" *ngIf="!formvalid && !form.controls['firstName'].valid">First name is required</div>
				</div>
				<div class="form-group inputThird">
					<label for="name">Last name<sup>*</sup></label>
					<input type="text" placeholder="" formControlName="lastName">
					<div class="warning" *ngIf="!formvalid && !form.controls['lastName'].valid">Last name is required</div>
				</div>
			</div>
	
          	<div class="flex">
  
				<div class="inputThird">
					<div class="form-group">
						<label for="avatar">Avatar</label>
						<div class="image registerImage">
								<div class="clearAvatar"  (click)="clearFile()"><span>&times;</span></div>
							<img *ngIf='avatarImg' [src]="'data:image/jpg;base64,'+avatarImg"  />
							<img *ngIf='!avatarImg' [src]="'../../assets/avatar-grey.svg'" />
						</div>
						<input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
						<p class="warning">Please limit photos to 200kb or less and to jpg, jpeg, png and gif formats</p>

						<!-- <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button> -->
					</div>
				<!-- <div class="form-group">
					<label for="name">User name <span>*</span></label>
					<input type="text" placeholder="" formControlName="username">
					<div class="warning" *ngIf="!formvalid && !form.controls['username'].valid">User name is required</div>
				</div> -->
				</div>
  
				<div class="inputTwoThird">
					<div class="form-group">
						<label for="name">Biography</label>
						<textarea cols="5" rows="6" name="body" formControlName="biography"></textarea>
					</div>
				</div>
  
          	</div>

         		 <hr />

            
				<div class="flex">
					<div class="form-group inputThird">
						<label for="name">Email<sup>*</sup></label>
						<input type="text" placeholder="" formControlName="email">
						<div class="warning" *ngIf="!formvalid && !form.controls['email'].valid">email address is required</div>
					</div>
					<div class="form-group inputThird">
						<label for="name">Password<sup>*</sup></label>
						<input type="password" (keyup)="checkPassword(password)" id="passwordr" formControlName="password" #password>
						<div class="warning" *ngIf="!formvalid && !form.controls['password'].valid">Password is required</div>
						<p class="warning" *ngIf="!passwordLength">Length must be 6 characters minimum</p>
						<p class="warning" *ngIf="!passwordCharacter">Password must contain a special character: !?#£$%*</p>
					</div>
					<div class="form-group inputThird">
						<label for="name">Repeat password</label>
						<input type="password" id="password_r" placeholder="" formControlName="password_r" #password_r>
					</div>
				</div>
	
				<div class="form-group">
					<input type="hidden" name="eventid" formControlName="eventid" />
				</div>
				<div class="form-group">
					<input type="hidden" name="eventid" formControlName="authority" />
				</div>
          
				<div class="form-group">
					<div class="flex flexEven">
		
						<div class="flex flexLeft">
							<input id="checkBox" type="checkbox" formControlName="register" name="tc">
							<div>
								<label class="ib">I have read and agreed to the privacy policy</label>
								<p class=""><a [routerLink]="['/na/privacy']" target="_blank">Click here to view our privacy policy</a></p>
								<div class="warning" *ngIf="!formvalid && form.controls['register'].value == false">Please read and agree to the privacy policy</div>
							</div>
						</div>
		
						<div class="flex flexRight">
							<button type="submit" class="button button-login">Submit</button>
							<a class="button button-ghost" [routerLink]="['/']">Cancel</a>
						</div>
		
					</div>
				</div>
				<span class="required">Required field<sup>*</sup></span>
        	</form>
        </div>
    </div>
</div>
  
    <!-- <app-footer></app-footer> -->
  
    <!--
      <div class="row paddingtop">
      <div class="col-md-6 offset-md-3">
        <div class="jumbotron">
          <h2>Register</h2>
  
  
          <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
  
  
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
              <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
              <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
              <label for="lastName">email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #lastName="ngModel" required />
              <div *ngIf="f.submitted && !lastName.valid" class="help-block">Email is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
              <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
              <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <div class="form-group" >
              <input type="hidden" class="form-control" name="authority" [(ngModel)]="model.authority" #authority="ngModel" value="doctor" />
            </div>
            <div class="form-group" >
              <input type="hidden" class="form-control" name="eventid" [(ngModel)]="model.eventid" #eventid="ngModel" value="{{eventid}}" />
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">Register</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
            </div>
          </form>
        </div>
        </div> -->