@import '../sass/_component';

h2 {font-size: 24px; }
.optout {margin-top: 10px;}
.progress {height: 200px!important;}
p { font-size: 12px; margin: 0px;}

hr {
    border-top: 1px dashed $c--light-grey;
	margin: 0 0 4rem;
}

.warning {
    font-size: 1.2rem;
    color: $c--vivid-red;
}
.required {
    float: right;
    color: $c--vivid-red;
}

form {
    padding: 2rem 0 0;
}
.form-group {
	margin: 0 0 2rem;
}

.button {
	font-size: 1.6rem;
	border-radius: 4px;
}

.heading {
	font-size: 2.6rem;
	text-align: center;
	color: $c--dark-grey;
	display: block;
	width: 100%;
}

label {
	color: $c--mid-grey;
	font-size: 1.4rem;
    margin: 0 0 0.8rem;
    display: block;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    appearance: checkbox;
}
input[type="file"] {
    width: 100%;
    font-size: 1.2rem;
}

a {
    color: $c--mid-grey;
    font-size: 1.2rem;
    text-decoration: underline;
}

.ib {
    display: inline-block;
}

.button-ghost {
    color: $c--pfizer-blue;
    border-color: $c--pfizer-blue;
    text-decoration: none;
    margin: 0 0 0 2rem;

	&:hover {
		background-color: lighten($c--pfizer-blue, 10);
        border-color: lighten($c--pfizer-blue, 10);
        color: $c--white;
	}
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &.flexLeft {
        justify-content: flex-start;
    }
    &.flexRight {
        justify-content: flex-end;
    }

    &.flexEven {
        > div {
            flex: 1;
        }
    }

    input {
        flex: 0 0 1.6rem;
        margin: 0 1rem 0 0;
    }
}

.inputThird {
    flex: 0 0 30%;
}
.inputTwoThird {
    flex: 0 0 65%;
}

input {
    padding: 0.2rem 0!important;
}
label {
    margin: 0 0 0 0.2rem!important;
}

.registerImage {
    width: 100px;
    height: 100px;
	margin: 0 auto 1rem;
}